[2016-03-16 17:49] amtrack opened #3 "update jsforce version"

[2016-03-16 17:56] amtrack opened #4 "remove undocumented backup command"

[2016-03-16 17:59] amtrack opened #5 "add commands for querying, inserting, upserting and deleting data"

[2016-03-16 18:09] amtrack opened #6 "improve support for MavensMate"
implement `lib/remotes/mm.js` to provide special `mm` remote based on default org of MavensMate defined in `.session` and `.settings`

[2016-03-16 18:20] amtrack opened #7 "implement zip streams for certain commands"
Read/write zip streams from/to stdin/stdout if no filename has been given or stdin is not empty.

This allows pipelining commands such as
- `force-dev-tool retrieve > backup.zip`
- `force-dev-tool changeset create --manifest-only src/classes/Test.cls | force-dev-tool retrieve production | force-dev-tool deployTest devSandbox`
- `git diff master develop | force-dev-tool changeset create | force-dev

[2016-03-16 18:36] amtrack opened #8 "implement merging changesets/deployments"
This would be useful to deploy multiple directories in a single transaction like

[code]

[code]

[code]
- [ ] allow specifying multiple `-d` args
- [ ] merge manifests such as `package.xml` and `destructiveChanges.xml`
- [ ] merge directories

[2016-03-16 18:46] amtrack opened #9 "add init command to initialize project"
using yeoman generator [amtrack/generator-forcedotcom](https://github.com/amtrack/generator-forcedotcom)

[2016-03-16 18:50] amtrack opened #10 "improve disassembling metadata for creating changesets"
* [ ] Profile
* [ ] PermissionSet

What else?

[2016-03-21 10:07] amtrack opened #11 "fail commands when specified remote does not exist"
currently the default remote is set as fallback

[2016-03-21 12:41] amtrack opened #12 "implement package fmt command"
for formatting package.xml

[2016-03-22 09:21] amtrack opened #13 "changeset create: handle properties of complex Metadata Types (e.g. CustomObject)"
Handling changes in named children of complex Metadata Types is already supported (changes in a `CustomField` within a `CustomObject`).
However changes in properties of its own Metadata Type aren't supported yet (e.g. `searchLayouts` of a `CustomObject`).

The approach should be as @froucher drafted:

[code]

Looking at the code, I think most of the changes could be applied in [metadata-file-conta

[2016-03-23 16:04] amtrack commented on #8
UPDATE: Another use case for this is the following scenario.

Sometimes i just want to retrieve a certain (existing or new) metadata component instead of all the metadata.

This could be achieved by:
[code]

So probably this can all be achieved by adding the possibility to locally merge multiple directories into one directory:

[code]
Hereby `targetDir ` will be overwritten.

[2016-03-25 16:57] #12 closed

[2016-03-26 08:44] #11 closed

[2016-04-01 09:42] amtrack opened #16 "overwrite changeset directory"
if there is already a changeset directory with the given name it should overwrite that directory completely (if `--force` is provided), otherwise it should fail.

[code]

[2016-04-01 13:28] #16 closed

[2016-04-04 11:09] amtrack opened #18 "changeset create: add option `--manifest-only`"
This will help deployments in rare cases where metadata disassembling isn't working yet.

[2016-04-13 16:06] amtrack opened #19 "create config directory only if required"
It seems that running `force-dev-tool remote` automatically creates the `config` directory although this is not required.

[2016-04-20 09:17] amtrack opened #20 "add command for executing anonymous apex"
should take input from stdin, file or command line argument

[2016-04-20 09:18] amtrack opened #21 "package command: improve dealing with Flow versions"

[2016-04-20 09:21] amtrack opened #22 "implement filter for standard components"
When creating a destructiveChanges.xml, standard components such as `CustomObject/Account` should  be filtered, so that the deployment doesn't fail.

[2016-04-20 09:24] amtrack opened #23 "refactor: merge this repository with amtrack/force-metadata-utils"
The library (https://github.com/amtrack/force-metadata-utils) is not used somewhere else, so include this in here for making maintenance more easy.

[2016-04-28 17:39] #19 closed

[2016-05-09 14:52] amtrack opened #26 "fix tab completion"

[2016-05-09 14:52] amtrack opened #27 "fix docopt exiting process without waiting for console.log to complete"

[2016-05-09 15:41] #3 closed

[2016-05-09 15:41] #4 closed

[2016-05-09 15:41] #5 closed

[2016-05-09 15:41] #20 closed

[2016-05-09 15:41] #23 closed

[2016-06-09 09:01] amtrack opened #30 "bug: settings cannot be retrieved"
`{"fileName":"package.xml","problem":"Settings type: 'Address' is unknown"}`

[2016-06-09 10:09] amtrack commented on #30
fixed in v0.4.4 726217d48ef15583543ca5f411d61b9157dde254

[2016-06-09 10:09] #30 closed

[2016-06-16 12:39] amtrack opened #31 "show progress on retrieve and deploy"
Both operations can take a while, so indicating progress would be good.

[2016-06-16 12:48] amtrack opened #32 "adjust sort order of metadata types in package.xml"
On retrieving metadata the `package.xml` is also being updated.
It looks like components of type `Settings` are always placed at the end.
This custom sort order should be reflected in `PackageXmlWriter`.

[2016-07-18 13:49] #32 closed

[2016-07-18 14:56] amtrack commented on #27
doesn't seem to be an issue anymore

[2016-07-18 14:56] #27 closed

[2016-08-09 17:06] #18 closed

[2016-08-16 15:47] #10 closed

[2016-08-16 15:47] #21 closed

[2016-08-23 08:18] janraasch opened #40 "Deploy and test a single file"
Hi @amtrack,

I tried out this tool and I must say I really like it. This probably will help us quiet a lot with streamlining our SF dev cycle. So thank you very much :)

One question I have is how to best deploy a single file and test it.

I could see myself wiring up a little build command into my editor, that on saving a file creates a changeset with just one file and deploys it to my sandbox o

[2016-08-23 15:04] janraasch commented on #40
Update:

Started workin on an implementation to run test files on a remote: https://github.com/janraasch/force-dev-tool/tree/feature/run-tests

Comments welcome :)

Will probably open a pr, when finished...

Still I would very much appreciate your feedback on how to best implement the suggested workflow.

[2016-08-23 17:53] amtrack commented on #40
Hi @janraasch

first off, thank you for your feedback and it makes me pretty happy to hear that you like it!

If i understand your use case correctly, you want to deploy your class together with your test class (e.g. `src/classes/MyClass.cls`, `src/classes/Test_MyClass.cls`) and then, as a second step, run the unit tests for the test class `Test_MyClass`.

Your approach implementing `run_tests` wo

[2016-08-24 08:56] janraasch commented on #40
Thank you for your detailed response.

First I should explain a little more in-depth what (I think :)) I would want to do.

You got this almost correct when saying that

but my idea is broader.

In a typical day-to-day workflow, I as a SF developer want to do two things quiet a lot:

- Upload a file to my sandbox (`force-dev-tool changeset create foo src/classes/MyClass.cls -f`, `force-dev-tool de

[2016-08-24 15:13] amtrack commented on #40
Let's talk about this on friday in detail!

[2016-08-26 08:32] janraasch commented on #40
Thanks again for takin' the time to have a call. So just to reiterate the relevant facts for this issue:

We decided to merge the proposed `run_tests` functionality command, into the existing `run` command by adding a `--classNames` parameter.

To implement this, you will try to rewrite the `lib/cli/test.js` command in a fashion where it can easily be reused in an `if/else` or extended, whatever w

[2016-08-26 08:36] amtrack commented on #40
yep, that sounds like a plan!

minor correction: s/run/test/

[2016-08-30 11:56] janraasch commented on #40
Let's continue in #42.

[2016-08-30 11:56] #40 closed

[2016-10-26 16:40] amtrack opened #74 "handle standard picklist values"
Up to API version `37.0` standard picklist values are represented as `CustomField` metadata.

Starting with API version `38.0` some standard picklist values are being replaced by the `StandardValueSet` and `StandardValueSetTranslation` metadata type (https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_standardvalueset.htm).

Unfortunately it seems that the standard fields

[2016-11-20 08:55] extremesurfer opened #76 "Addition of RunSpecifiedTests support"
Suggested new feature which we will fork/add and pull request if acceptable.

With large deployments into development environments where test execution can take several hours it is common practice to execute only the tests in the changeset and not the full suite.

It would be beneficial to have capability within the force-dev-tool to support this usecase.

Suggest:

New cli option deployRunSpecifi

[2016-11-21 16:28] amtrack commented on #76
Hi @extremesurfer,
thank you for your feedback.
I think this is a good idea.

Ideally we should add all of the `DeployOptions` from https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_deploy.htm as command line flags in a single sub command `deploy` and get rid of the `deployTest`, `validate` and `validateTest` sub commands.

1. For the beginning, i suggest to modify `lib

[2016-11-22 21:08] extremesurfer commented on #76
Hi, yes that sounds good. We will do 1) hopefully by the end of this week.

[2016-11-23 15:38] amtrack commented on #76
Hi @extremesurfer,
FYI: I started working on 2) in #77.

[2016-12-03 13:03] #74 closed

[2016-12-03 22:26] mbertram commented on #76
Hi @amtrack,

I started working on this ticket. It seems like you implemented it in 61b37e2 and already moved the code from the `deployTest` into the `deploy` command. Thanks for that.
Is there anything left for this ticket we could help with?

[2016-12-04 17:11] amtrack commented on #76
Hi @mbertram,

yeah, actually i just wanted to add support for the `purgeOnDelete` option and then i gave this a try as well :-).

I would appreciate if you could checkout the `deploy` branch to test this and see if this would fit your needs.
Please see the examples from `force-dev-tool help deploy` (especially regarding `xargs -0`).
I'll update the README.md when this will be merged.

[2017-02-06 20:07] amtrack commented on #76
Released in [v0.13.0](https://github.com/amtrack/force-dev-tool/releases/tag/v0.13.0)

[2017-02-06 20:07] #76 closed

[2017-03-02 22:08] papariz opened #83 "Changes to Salesforce profiles are not detected using git diff as input into force-dev-tool"
Using the command "git diff master | force-dev-tool changeset create build" does not create a correct manifest based on the changes to salesforce profile metadata files. Although the git diff command shows the changes, the files are not added to the manifest and directory. The exception to this is that when field security changes are made, these do make it into the manifest and src files.

However

[2017-03-02 22:25] papariz commented on #83
Upgraded to 0.13.0 from 0.12.0 and the issue seems to be corrected.

[2017-03-02 22:25] #83 closed

[2017-03-03 16:40] papariz opened #84 "Changes in profile metadata files are not included in changeset"
Produced in v 0.13.0.  Changes to profile metadata files are not added to manifest and src folder when the changeset is created with git diff master | force-dev-tool changeset create build. Changes to certain parts of the file do not register as a change to the force-dev-tool including objectPermissions.
<img width="839" alt="screen shot 2017-03-03 at 11 39 09 am" src="https://cloud.githubusercont

[2017-03-04 12:19] amtrack commented on #84
Hi @papariz

thanks for reporting.
I just tried to reproduce but in my first attempt it just worked.

Is it possible for you to share your git repository with me, so that i can do some investigations?

[2017-03-04 13:44] papariz commented on #84
Unfortunately our repo is not publicly accessible. If you've tested all the tags in the  profile xml then maybe I'm doing something wrong.

Sent from my iPhone

[2017-03-06 14:33] papariz commented on #84
@amtrack I believe this was due to the way I was calling git diff. Once I actually committed the changes to the branch, it then registered. Sorry for the confusion.

[2017-03-06 14:33] #84 closed

[2017-03-06 14:49] amtrack commented on #84
No worries!
I'm happy that you got it working now :-)

In fact not all parts of the Profile are supported for `force-dev-tool changeset create`, only the most common things like `classAccesses`, `pageAccesses`, `objectPermissions`, `fieldPermissions`, ... (see [here](https://github.com/amtrack/force-dev-tool/blob/f6dc4d3499ecfdd7c8d429fac8a42ff961b1198d/lib/describe-metadata-service.js#L192-L245))

[2017-03-06 19:45] papariz commented on #84
Interesting good to know. Hopefully we won't hit on anything that is unsupported.

[2017-04-03 20:52] vkolotov opened #85 "Passwords are kept unencrypted"
Passwords for salesforce are kept unencrypted in a plain json file (config/.orgs.json). Easy to steal.

[2017-04-04 19:37] amtrack commented on #85
@vkolotov i'm aware of that.
What alternatives do you have in mind?

[2017-04-04 19:43] vkolotov commented on #85
Hi @amtrack,

Two options in mind:
1. OAuth2 authentication through browser (like forcecli does). Looks like it keeps access and refresh tokens somewhere, and then use refresh token to refresh access token.
2. An extra argument to all commands so that CI server can provide it.

Thanks,
Vlad

[2017-04-05 15:36] amtrack commented on #85
Hi @vkolotov,
that sounds good to me!

1. I would love to implement this, but unfortunately it is not on my list of next things to work on. Do you feel comfortable implementing this?
2. I guess this is already possible. Please see the `Using force-dev-tool in a build script` section in the README. Does that work for you?

[2017-04-05 21:14] vkolotov opened #86 "Bug: LeadConvertSettings.LeadConvertSetting has no method 'normalize'"
Running the following command gives:
$ force-dev-tool deploy
```TypeError: Object LeadConvertSettings/LeadConvertSettings.LeadConvertSetting has no method 'normalize'```

Please let me know if you need me to provide anything else to reproduce this.

[2017-04-05 21:35] vkolotov commented on #85
@amtrack Ah I see now, it was not clear for me. So do I need to set those three variables so that force-dev-tool would pick them up?

BTW, what I did to keep it safe is another option:

[code]

[2017-04-05 22:15] vkolotov opened #87 "Bug: RangeError: Maximum call stack size exceeded"
The following command leads to an error:

[code]

Please let me know if you need more info on that error.

[2017-04-05 22:26] vkolotov opened #88 "Bug: Empty changeset is generated"
I make some simple changes to *.cls file. git diff shows that change. When I run the following command, an empty package.xml gets generated.

[code]

Please notice "readable not null" line. If I make another change, this line is printed twice (for each changed file).

[2017-04-05 23:46] vkolotov commented on #86
I'm sorry for spam. The reason for that error was running an ancient NodeJS. I have upgraded node and it has disappeared.

[2017-04-05 23:46] #86 closed

[2017-04-05 23:46] vkolotov commented on #88
I'm sorry for spam. The reason for that error was running an ancient NodeJS. I have upgraded node and it has disappeared.

[2017-04-05 23:46] #88 closed

[2017-04-05 23:46] vkolotov commented on #87
I'm sorry for spam. The reason for that error was running an ancient NodeJS. I have upgraded node and it has disappeared.

[2017-04-05 23:46] #87 closed

[2017-04-06 09:17] vkolotov opened #89 "PermissinSet sync"
Hi @amtrack,

I'm trying to set up a CI environment which deploys changes from git to salesforce. I've got some bash scripts which generate changesets and then deploy them to salesforce. However, I came across an issue with PermissionSet metadata. When I try to deploy incremental changes which include some changes in PermissionSets, I get this:

[code]

I've started to troubleshoot and noticed tha

[2017-04-06 20:00] amtrack commented on #89
Hi @vkolotov,
thanks for reporting!
You are right, the `label` element is missing indeed.
According to the [documentation](https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_permissionset.htm) the label is required.
I thought that `PermissionSet` can be treated the same way as `Profile` which was a wrong assumption.
I will provide a fix once i figured out a good solution

[2017-04-06 20:02] amtrack commented on #89
Hi @vkolotov,
thanks for reporting!
You are right, the `label` element is missing indeed.
According to the [documentation](https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_permissionset.htm) the label is required.
I thought that `PermissionSet` can be treated the same way as `Profile` which was a wrong assumption.
I will provide a fix once i figured out a good solution

[2017-04-06 20:07] vkolotov commented on #89
Hi @amtrack, sounds good. Looking forward to seeing the fix.

[2017-04-10 03:22] vkolotov opened #90 "Removing "description" tag from a profile metadata does not generate neither destructive nor normal package.xml"
Salesforce sent an update to CI where it removed ```<description>``` tag from some profiles metadata objects (looks like a user just deleted "description" from them). This update was pushed to git. CI job to deploy this job failed to generate any changesets:

These are the changes:
[code]

This is what was generated:
[code]

So nothing was uploaded to Salesforce.

[2017-04-10 03:41] vkolotov commented on #90
Looks like ```<description>``` tag is completely ignored by force-dev-tool:

[code]

[2017-04-10 04:15] vkolotov commented on #90
@amtrack just so you know. I though that this is a "generic" but, e.g. any deletion for text fields do not trigger any updates. However, I did a test with a custom field:
1. I set a default value to a custom field.
2. Synced this change from salesforce to git.
3. Updated git directly to remove ```<defaultValue>``` tag completely.
4. Triggered the deployment process which successfully uploaded my c

[2017-06-15 17:42] GeneralDoddi opened #91 "npm install hanging on loadDep:xmldoc"
I am trying to install the package on Ubuntu 16.04

The install hangs on loadDep:xmldoc after 33% of the install

Silly log:

npm verb addNamed "2.4.2" is a plain semver version for yazl
npm sill cache afterAdd docopt@0.6.2
npm verb afterAdd /home/ubuntu/.npm/docopt/0.6.2/package/package.json not in flight; writing
npm sill cache afterAdd multimatch@2.1.0
npm verb afterAdd /home/ubuntu/.npm/multim

[2017-06-16 10:42] GeneralDoddi commented on #91
I tried to install on CentOS7 with the same problem

[2017-06-17 19:32] amtrack commented on #91
That's strange! Which node/npm version are you running?

[2017-06-17 19:38] GeneralDoddi commented on #91
The latest version from the ubuntu package manager (Sorry for not having details I'm out of town) :)

I am using Ubuntu 16.04 cloud edition, my colleague told me He could install on LTE edition on his VM. This is a very odd problem indeed

[2017-06-17 19:42] amtrack commented on #91
OK, I will try to bump some package versions (it is time to do this anyway) next week and hope that this will solve this problem. Thanks for reporting!

[2017-06-19 13:36] GeneralDoddi commented on #91
I have been trying to fool around on installing, now i spawned a Ubuntu 16.04 LTS myself and didn't get the package installed, i then decided to install all dependencies first and then try the package,

All dependencies installed fine but the force-dev-tool package still hangs at same place, i hope you can recreate this

[2017-06-19 14:43] amtrack commented on #91
@GeneralDoddi Can you try installing using the following command:

[code]

[2017-06-19 16:06] GeneralDoddi commented on #91
@amtrack

ubuntu@jenkins-salesforce-dev:~$ sudo npm install --global amtrack/force-dev-tool#bump-xmldoc --loglevel=silly
npm info it worked if it ends with ok
npm verb cli [ '/usr/bin/nodejs',
npm verb cli   '/usr/bin/npm',
npm verb cli   'install',
npm verb cli   '--global',
npm verb cli   'amtrack/force-dev-tool#bump-xmldoc',
npm verb cli   '--loglevel=silly' ]
npm info using npm@3.5.2
npm info

[2017-06-19 16:10] GeneralDoddi commented on #91
new development, i noticed it stopped at git://github.com this time and it's common for firewalls to screw with it after switching out the git repo in npm this rolled finally through

git config --global url.https://github.com/.insteadOf git://github.com/

[2017-06-19 16:19] amtrack commented on #91
aha, ok.
so this is a firewall issue?

[2017-06-19 16:30] GeneralDoddi commented on #91
It looks like it, i must have messed up when i tried the global config change back when i wrote the issue. I've had this problem before at my workplace but the errors were more clear (IE just a plain 500 error for the git page to be unreachable), this one doesn't throw an error at all and just hangs instead

I spawned a fresh instance and fixed the global config and it installed, i'm sorry for tak

[2017-06-19 16:48] amtrack commented on #91
no worries, i'm glad it works now ;-)

[2017-06-19 16:48] #91 closed

[2017-07-18 05:31] okram999 opened #92 "how to pass the sfdc username, passwd and url in the deploy command"
Using force-dev-tool in a build script, can you please elaborate this section? how do i pass the credential info in the test / deploy task?

[2017-07-18 11:19] amtrack commented on #92
Hi @okram999

thanks for letting me know that this section is unclear.
What do you think about putting the following in a wiki page and referencing the page in that README section?

**1)** In a simple scenario you can inject the credentials for a default remote using the following environment variables

[code]

listing your remotes then leads to

[code]

That means you can either pass the remote n

[2017-07-18 16:16] okram999 opened #93 "diff resulting to high number of files takes a long time"
hi @amtrack my git diff returns like 565 files, and the generating the package.xml like `force-dev-tool changeset create devDeploy`  takes forever, it is still running.. is there a way how i can make this faster. May be feed in more memory to the node??

 force-dev-tool@0.13.1

[2017-07-18 21:29] okram999 commented on #93
still running after 4hrs :(

[2017-07-18 21:32] amtrack commented on #93
Sounds wrong to me. Did you really pipe in the git diff?

[2017-07-19 04:19] okram999 commented on #93
@amtrack , i wish i am wrong. As i find your tool so cool and really want to give it a try. Here is what i have as a part of the shell script

`node --version
npm install --global force-dev-tool
force-dev-tool --help
git fetch --all
git branch -a
git checkout master
git checkout config2
git diff master config2 | force-dev-tool changeset create devDeploy`

[2017-07-19 04:37] okram999 commented on #93
So, i just removed the force-dev-tool 's changeset create section from the pipe, and ran just the diff, the diff is okay.

node --version
npm install --global force-dev-tool
git fetch --all
git branch -a
git checkout master
git checkout config2
git diff master config2 #| force-dev-tool changeset create devDeploy

I am going to save the diff into a file and pipe it in the force-dev-tool, and see wh

[2017-07-19 04:45] okram999 commented on #93
The output file from the git diff is 108MB and there are 3005097 lines.. is this the reason? Won't it better if, you pipe in the `git diff --name-only` ?

[2017-07-19 19:17] okram999 commented on #93
We removed a component from vesioning. It was contributing to around 359 files in the git diff. Now force-dev-tool is generating the package.xml

[2017-07-24 13:40] #92 closed

[2017-07-25 15:15] amtrack commented on #93
OK, so i didn't run any performance tests but as far as i can tell parsing the diff shouldn't be the bottleneck. However I can confirm that parsing and preparing the files seems to be not so performant at the moment.
Do you want to contribute on this issue by creating a test repo or improving the code itself?

[2017-07-25 15:22] okram999 commented on #93
yes, i will have to see how i can get a similarly sized repo, where i am having the issue by scrapping any confidential info

[2017-07-25 15:39] amtrack commented on #93
Sounds good! Let me know if I can help.
I would be happy to talk to you about your use cases btw to see what else can be improved :-)

[2017-08-01 20:31] okram999 commented on #93
anything in the v1.0, which you think have improved the "parsing and preparing the files "

[2017-08-02 00:28] okram999 opened #94 "Package.xml and src components generation fails with v1.0"
Will update more log details, but not sure if u are aware of this already

**updated the console log:**

[code]

Reverted to the previous version: **force-dev-tool@0.13.1**   and it works!

Not a javascript guys, but starting to look into it. but looks like the issue occured while generating the package.xml (i have removed various members, but i left the metadata components, to kind of give you an

[2017-08-02 16:02] okram999 commented on #93
i am not there yet, but i am kind of thinking this might be due to the objectTranslation 's content and the regex that you defined to build the package.xml ... will update more

[2017-08-02 16:06] okram999 opened #95 "[DOC ENHANCEMENT] - update the doc to provide ways to ignore space difference at eol"
i hope this is a wide spread issue, while doing the git-diff between branches for the package.xml as well as the destructive xml, certains files with just trailing space difference shows up and gets into the XML's. i am using this to avoid files which differ only in space at eol.

`git diff --ignore-space-at-eol master dev | force-dev-tool  changeset create vat `

[2017-08-03 18:12] okram999 commented on #90
i am guessing this is still open

[2017-08-03 18:29] amtrack commented on #90
@okram999 yes, this is still open.

[2017-08-03 19:40] okram999 commented on #89
@amtrack this is really a show stopper :(  ... is there a quick fix for this, we cannot remove the permissionsets from the git-diff  and thus, it fails the deployment

[2017-08-04 06:12] okram999 commented on #89
Not sure how you are handling this? But i am trying to get some python script in between to replace the content of the permissionsets folder from the actual src folder, once the force-dev-tool generates the src and the package xml in the config folder. The script will replace the files under the config's src/permissionset with the ones from the main src folder... but it will have the full permissi

[2017-08-10 22:15] okram999 commented on #94
hi @amtrack , any idea on this?

[2017-08-22 21:51] okram999 opened #96 "FATAL ERROR: CALL_AND_RETRY_LAST Allocation failed - JavaScript heap out of memory"
@amtrack i got this heap out of memory on my local pc but works on a linux server. My pc have ample system memory. Did you encounter this node.js memory issue?
Do you have plan to expose the cli, so that user can specify the size as in  https://stackoverflow.com/questions/26094420/fatal-error-call-and-retry-last-allocation-failed-process-out-of-memory ?

Finally, i know we spoke about this but do

[2017-08-24 16:08] amtrack commented on #96
Hi @okram999, sorry for being unresponsive regarding your issues. I cannot guarantee to find time in the near future for development.

I haven't encountered such memory issues yet and don't have any recommended max diff sizes so far.

In general i tend to reimplement relevant and unique parts of force-dev-tool as plugins to the sfdx cli in the future.

The changeset command clearly is such a part.

[2017-08-24 16:11] okram999 commented on #96
@amtrack , thanks for the response.. Can you let me know, what metadata types are not supported by the changeset command. And also what needs to be updated for the PermissionSet with the new API version 40

[2017-08-24 16:23] amtrack commented on #96
PermisssionSets can now be treated as whole files instead of decomposing them into parts: https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_permissionset.htm

AFAIK own properties of e.g. CustomObject are not yet handled. For example when you only change the description element of a CustomObject.

There might be more.

[2017-08-24 16:27] okram999 commented on #96
this is more like #90 ?

[2017-08-24 21:13] amtrack commented on #96
Yes, exactly!

[2017-10-12 15:47] #6 closed

[2017-10-12 15:49] #26 closed

[2017-10-12 15:49] #9 closed

[2017-10-12 15:49] #31 closed

[2017-10-12 15:50] #8 closed

[2017-10-12 15:50] #22 closed

[2017-10-18 21:46] BobHatcher opened #97 "TypeError: field.childNamed is not a function"
Hi,

We are trying to create a changeset by doing a diff on two branches.

`git diff develop feature/marketing | force-dev-tool changeset create mkt_diff `

when I do that, I get an error. Here's the stack trace.

TypeError: field.childNamed is not a function
    at /usr/local/lib/node_modules/force-dev-tool/lib/metadata-file-container.js:110:29
    at Array.forEach (native)
    at /usr/local/lib/

[2017-10-18 23:14] BobHatcher commented on #97
To add to this, we have identified that this only occurs when we include Opportunity and Contact workflows.

[2017-10-19 12:21] #94 closed

[2017-10-19 12:23] amtrack commented on #97
@BobHatcher Thanks for reporting!
I just fixed this on the master branch.
Please install force-dev-tool using `npm install git+https://github.com/amtrack/force-dev-tool.git` until a new release has been published.

[2017-10-19 12:23] amtrack commented on #94
@okram999,
It seems that this error was related to the WorkflowRule Metadata Type (see #97). It should now be fixed on the master branch.
Please install force-dev-tool using `npm install git+https://github.com/amtrack/force-dev-tool.git` until a new release has been published.

[2017-10-19 12:23] #97 closed

[2017-10-19 14:37] BobHatcher commented on #97
Thank you!

[2017-10-19 17:56] okram999 commented on #96
btw, the java heap error are rarely seen if use nodejs v8.6.0. May be its due to better GC handling with this version.

[2017-12-01 15:43] okram999 opened #100 "force-dev-tool and latest version of api, say 41"
hi @amtrack - i know from various discussions that sf have changed the way they handle permSets while deploying from version 40 onwards. Does the tool (force-dev-tool) handle the latest versions say ver41 of the mdAPI?

[2017-12-01 16:09] amtrack commented on #100
Not yet.
Do you want to start working on that?

[2017-12-01 17:23] okram999 commented on #100
it is just the permSets that have changed with the new api version?

[2017-12-01 17:42] amtrack commented on #100
As far as I know, yes.

[2017-12-07 14:58] rodolfonoviski opened #101 "ERROR git diff with force-dev-tool changeset create"
When I try to generate a changeset with the difference between two branchs it returns the following error:

`
TypeError: Cannot read property 'type' of null
    at module.exports.Manifest.add (C:\Users\rnoviski\AppData\Roaming\npm\node_modules\force-dev-tool\lib\manifest.js:56:19)
    at C:\Users\rnoviski\AppData\Roaming\npm\node_modules\force-dev-tool\lib\metadata-container.js:174:42
    at Array

[2017-12-07 16:08] amtrack commented on #101
@rodolfonoviski Can you please provide the following information:

- Output of `force-dev-tool --version`
- Have you commited your changes before running the command (e.g. `git add -A; git commit -m "my changes"`)?

[2017-12-07 16:11] rodolfonoviski commented on #101
$ force-dev-tool --version
1.0.0

Yes I did commit and push to git server

[2017-12-07 16:18] amtrack commented on #101
Could you send me the list of changed files (`git diff --name-status`) in a secret Gist (https://gist.github.com) and email me the link to mr.amtrack@gmail.com?

[2017-12-07 16:39] rodolfonoviski commented on #101
I just sent you

[2017-12-07 16:58] rodolfonoviski commented on #101
@amtrack Now it is returning this error:
`TypeError: field.childNamed is not a function
    at C:\Users\rnoviski\AppData\Roaming\npm\node_modules\force-dev-tool\lib\metadata-file-container.js:110:29
    at Array.forEach (<anonymous>)
    at C:\Users\rnoviski\AppData\Roaming\npm\node_modules\force-dev-tool\lib\metadata-file-container.js:109:44
    at Array.forEach (<anonymous>)
    at module.export

[2017-12-07 17:02] amtrack commented on #101
The latest error should be fixed on the master branch.

Can you try using the latest version

[code]

[2017-12-07 17:28] rodolfonoviski commented on #101
Thank you very much for your attention. It worked now !

[2017-12-07 17:28] #101 closed

[2017-12-07 17:30] amtrack commented on #101
OK, great!
I guess I need to publish a new release soon.

[2017-12-07 17:33] rodolfonoviski commented on #101
@amtrack I am waiting for updates because its solution is incredible. Help me a lot in the DevOps process.

[2017-12-12 16:30] amtrack commented on #95
resolved with f1c52631e9debf3b2b690aeb3e911498aa79fb7f

[2017-12-12 16:30] #95 closed

[2017-12-22 18:27] rodolfonoviski opened #104 "force-dev-tool deploy with test"
When trying to run the command:

`
$ force-dev-tool package grep 'ApexClass\*Test' -- template config/deployments/deploy2212 | cut -d '\' -f 2 | xargs -0 force-dev-tool deploy -d config/deployments/deploy2212/ --runTests
`
is not running any test class

[2017-12-24 16:23] amtrack commented on #104
Hi @rodolfonoviski,
that command is slightly wrong.
The separator is a slash (e.g. `ApexClass/FooTest`) and the `--template` (deprecated) respectively `-f` expects the path to a package.xml file instead of a folder.

Please iteratively check the output of all parts of the command:

The first part should list the names of your test classes (with a leading `ApexClass/` each).

[code]

The next comma

[2017-12-24 16:23] #104 closed

[2018-01-04 10:57] nithyusha23 opened #106 "Unable to generate package.xml file for multiple types (Profiles, WorkFlow, Assignment Rules, Permissionset, Labels, CustomObjects, Custom Labels)"
We have modified few files in the following types and tried to generate package.xml file. However, it has generated an empty file as shown below and did not create create any types with the modified members in it.
?xml version="1.0" encoding="UTF-8"?
Package xmlns="http://soap.sforce.com/2006/04/metadata"
    version38.0/version
/Package

Types:
CustomObject
AssignmentRules
Workflow
PermissionSet

[2018-01-04 12:17] amtrack commented on #106
@nithyusha23 Can you please share the steps to reproduce this issue?

[2018-01-04 12:36] nithyusha23 commented on #106
1. Added following line in src/workflows/AHRS_Settings__c.workflow
<?xml version="1.0" encoding="UTF-8"?>
<Workflow xmlns="http://soap.sforce.com/2006/04/metadata"/>
2. Ran git diff 4bb8cf84 49df18b1 | force-dev-tool changeset create vat command
3. It gave following result
?xml version="1.0" encoding="UTF-8"?
Package xmlns="http://soap.sforce.com/2006/04/metadata"
version38.0/version
/Package

[2018-01-04 12:42] nithyusha23 opened #107 "Error: TypeError: field.childNamed is not a function"
Modified a file in WorkFlow and when tried to generate package.xml file, got following error:

<?xml version="1.0" encoding="UTF-8"?>

<Workflow xmlns="http://soap.sforce.com/2006/04/metadata">
    <alerts>
        <fullName>Case_Email_Notification_to_After_Hours_Corp_Public_Group</fullName>
        <description>[Case] Email Notification to After Hours Corp Public Group</description>
        <prot

[2018-01-04 12:46] amtrack commented on #106
* What version of force-dev-tool are you running (`force-dev-tool --version`)?
* Can you please share the (redacted) output of `git diff 4bb8cf84 49df18b1` in a markdown code block formatted as `diff`?

[2018-01-04 12:50] nithyusha23 commented on #106
I entered wrong sha code in earlier comment. Please see the correct details below:

C:\Users\Nithyusha_Gurujala1\Ipreotest>git diff 0249cecc 3f82c8a6
diff --git a/src/workflows/AHRS_Settings__c.workflow b/src/workflows/AHRS_Settings__c.workflow
index 256a3da..ace6510 100644
--- a/src/workflows/AHRS_Settings__c.workflow
+++ b/src/workflows/AHRS_Settings__c.workflow
@@ -1,3 +1,4 @@
 <?xml version="1

[2018-01-04 12:55] amtrack commented on #106
So the diff is only an added blank line?
Is there some content in `src/workflows/AHRS_Settings__c.workflow` at all?

[2018-01-04 13:00] nithyusha23 commented on #106
I have modified another file which has content:
`C:\Users\Nithyusha_Gurujala1\Ipreotest>git diff 3f82c8a6 ab78742d | force-dev-tool changeset create vat
Manifest:
<?xml version="1.0" encoding="UTF-8"?>
<Package xmlns="http://soap.sforce.com/2006/04/metadata">
    <version>38.0</version>
</Package>`

`C:\Users\Nithyusha_Gurujala1\Ipreotest>git diff 3f82c8a6 ab78742d
diff --git a/src/permissionsets/

[2018-01-04 13:15] amtrack commented on #107
Please install the latest `force-dev-tool` (master branch) using

[code]

[2018-01-04 13:17] #107 closed

[2018-01-04 13:21] nithyusha23 commented on #107
Still I am getting same error:
C:\Users\Nithyusha_Gurujala1\Ipreotest>npm install git+https://github.com/amtrack/force-dev-tool.git
npm WARN deprecated coffee-script@1.12.7: CoffeeScript on NPM has moved to "coffeescript" (no hyphen)
npm WARN saveError ENOENT: no such file or directory, open 'C:\Users\Nithyusha_Gurujala1\Ipreotest\package.json'
npm notice created a lockfile as package-lock.json. Y

[2018-01-04 13:25] nithyusha23 commented on #107
It worked... Thank you.

[2018-01-04 13:25] amtrack commented on #107
In this case you are probably using a globally installed force-dev-tool.

So you would need to install the latest force-dev-tool globally as well (`-g`):

[code]

[2018-01-05 08:10] nithyusha23 opened #108 "Code Coverage and Code Review"
I'd like to get a report similar to the one produced by Run Local Tests in the Force.com IDE but in HTML / Json on my local machine.

For the rest of our system we use Sonar http://www.sonarsource.org/ to produce the reports.
Do you know any best approach to achieve this?

In addition, we are using PMD tool for code review. any possibility to run PMD and get the result using this tool?

[2018-01-05 08:49] nithyusha23 opened #109 "sObject type 'ApexCodeCoverageAggregate' is not supported."
I tried to execute following query and got below error. How to enable tooling?
$ force-dev-tool query "Select id,ApexClassorTrigger.Name,NumLinesCovered,NumLinesUncovered from ApexCodeCoverageAggregate"
INVALID_TYPE: sObject type 'ApexCodeCoverageAggregate' is not supported.

[2018-01-05 09:10] nithyusha23 commented on #109
I got it.
$ force-dev-tool query "Select id,ApexClassorTrigger.Name,NumLinesCovered,NumLinesUncovered from ApexCodeCoverageAggregate" --tooling

Thanks

[2018-01-05 09:10] #109 closed

[2018-01-07 13:34] amtrack commented on #93
Closed by #99 .

[2018-01-07 13:34] #93 closed

[2018-01-07 13:34] amtrack commented on #96
Closed by #99

[2018-01-07 13:34] #96 closed

[2018-01-11 15:13] alexey-filippov opened #110 "change set creation on Win"
the application is not working correctly for Win.

Tried to create change sets for masked path: src/classes/*.cls but got the error:

![image](https://user-images.githubusercontent.com/35339939/34832446-0da9108a-f6fb-11e7-8f86-d08dfaac9aec.png)

[2018-01-11 17:30] amtrack commented on #110
Hi @alexey-filippov ,

I'm not a Windows guy. Can you try the following please

[code]

[2018-01-16 16:05] alexey-filippov commented on #110
no chance. the same results. also change set deployment also is not working

`C:\workspace\git_workspace\sparc>force-dev-tool deploy -d=.\config\deployments\undo_2
Running Deployment of directory =.\config\deployments\undo_2 to remote myorg
Error: Deployment failed.
 - Error in file 'package.xml': No package.xml found`

[2018-01-17 06:33] ranjitbalu opened #111 "could you please specify the limitations / list the components that cannot be deployed by force-dev-tool?"
could you please specify the limitations / list the components that cannot be deployed by force-dev-tool?

[2018-01-17 09:42] amtrack commented on #110
Filename expansion is a feature of your Terminal/Shell.
If you're using `cmd.exe` or `PowerShell` this seems not supported.

With `Git Bash` which should come with the default Git installation on Windows this works fine.

[2018-01-17 09:51] amtrack commented on #111
Hi @ranjitbalu ,

if you have a directory or zip file prepared, `force-dev-tool` should be able to deploy anything that is supported by the Metadata API.

Are you referring to the `changeset create` command in order to create a deployable directory?

[2018-01-17 14:49] alexey-filippov commented on #110
Yes, you are right. With Git Bash the change set creation working fine using git diff , but path with mask -nope, very slow

[2018-01-22 08:13] #110 closed

[2018-01-22 08:17] nithyusha23 opened #112 "Package.xml is not capturing when we change <enableFeeds> value in objects"
We have changed <enableFeeds>true</enableFeeds> value to <enableFeeds>false </enableFeeds> in objects and when executed package.xml, it did not identify the above change and created an empty xml file.

`<?xml version="1.0" encoding="UTF-8"?>
<Package xmlns="http://soap.sforce.com/2006/04/metadata">
    <version>38.0</version>
</Package>
`

[2018-01-23 15:39] nithyusha23 commented on #112
Anybody has seen this issue already. If yes, please let me know if you found any solution for this issue.

[2018-01-25 17:35] neo2005 opened #113 "Force Dev Tools and Wave"
Does Force-dev-tools have implemented the support for wave? Wave is a new tool. If not, are you planning to add it any time soon?

[2018-01-27 02:59] rajruprai opened #114 "Add functionality to forceignore to include only specific ones and exclude others"
Hi,

One issue I am having is that .forceignore will exclude all of the metadata if, for example, I put "CustomField/*". However, there is no option to that will allow for include "CustomField/Account.somefield__c", but exclude all others.

Is this possible?

[2018-01-28 15:50] amtrack commented on #114
Hi @rajruprai ,
this is already possible:

[code]

[2018-01-28 15:50] #114 closed

[2018-01-28 16:00] amtrack commented on #113
Hi @neo2005 ,

unfortunately i have no experience with Wave.

What kind of support for Wave do you mean?

As far as i can see there are several Wave-related Metadata types listed in the
[Metadata API Developer Guide](https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_waveapplication.htm).

In theory force-dev-tool should be able to retrieve/deploy those types.

Please le

[2018-01-28 16:05] amtrack commented on #112
Hi @nithyusha23 ,

yes i'm aware of this.

Related issues: #90, #13

[2018-01-28 16:12] amtrack commented on #108
@nithyusha23 ,

you might be better off running your tests with the official Salesforce DX CLI (sfdx).

Please see `sfdx forc:apex:test:run` and `sfdx force:apex:test:report` in the [docs](https://developer.salesforce.com/docs/atlas.en-us.sfdx_cli_reference.meta/sfdx_cli_reference/cli_reference_force_apex.htm#cli_reference_force_apex)

[2018-01-28 16:12] #108 closed

[2018-01-28 16:13] #113 closed

[2018-01-28 16:15] amtrack commented on #106
@nithyusha23 , have you been able to solve this in the meantime?

[2018-01-29 09:24] nithyusha23 commented on #112
Could you please let us know if there are any other issues as such , so that we do not face any sudden surprises.

[2018-01-30 14:59] Stepan007 opened #115 "Is there a way to use one configuration file (config/.orgs.json) across all the system?"

[2018-01-30 15:14] Stepan007 opened #116 "Connected App can be deployed only after manually removed consumer key"
Would it be possible to implement some support functionality for that? There are also other types of metadata which contain environment specific values and need to be removed manually.

[2018-01-30 15:20] Stepan007 opened #117 "After Sandbox upgrade there are difficulties with deployment"
After Sandbox upgrade there are difficulties with deployment of profiles. Very often there are some new features which have to be removed manually when deploying to a Sandbox with lower version (before upgrade).

[2018-01-30 15:45] amtrack commented on #117
Hi @Stepan007 ,

i don't think this is related to force-dev-tool.
It is a general issue with Salesforce and Metadata.

If you want to process Metadata (a.k.a. "remove features") in order to deploy in between orgs of different API versions, you might try https://github.com/IPfolioDev/metadata-xml-tool

[2018-01-30 15:45] #117 closed

[2018-01-30 15:48] amtrack commented on #115
Compared to`sfdx`, `force-dev-tool` has a pure project-(directory)-based approach for storing remotes (orgs).

You could however copy the whole (or parts of) that file or use symbolic links provided by your operating system.

[2018-01-30 15:48] #115 closed

[2018-01-30 15:50] amtrack commented on #116
Similar to your question in #117 i suggest to try https://github.com/IPfolioDev/metadata-xml-tool

[2018-01-30 15:50] #116 closed

[2018-01-30 16:07] Stepan007 commented on #115
Well, would it be at least possible to implement a parameter where would I
provide a path to .orgs.json?

2018-01-30 16:52 GMT+01:00 Matthias Rolke <notifications@github.com>:

--
stepan.ruzicka@gmail.com
(+420) 607 205 857
(+420) 603 412 704

[2018-01-30 16:31] amtrack commented on #115
Well, this parameter would need to be added to various commands which interact with a remote.
Yes, i think that's possible.

Do you want to give it a try?

[2018-01-30 16:38] Stepan007 commented on #115
Hi, yes, I can try it.

On Jan 30, 2018 17:31, "Matthias Rolke" <notifications@github.com> wrote:

Well, this parameter would need to be added to various commands which
interact with a remote.
Yes, i think that's possible.

Do you want to give it a try?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/amtrack/force-dev-t

[2018-01-30 16:40] Stepan007 commented on #115
Also, where do I need to place .forceignore? To config folder? Because it
didn't work for me.

Thanks for the link to the xml tool.

On Jan 30, 2018 17:38, "Štěpán Růžička" <stepan.ruzicka@gmail.com> wrote:

[2018-01-30 16:51] amtrack commented on #115
Great! Let me know if you have questions.

The `.forceignore` file needs to be placed in the project/root directory.

For example

[code]

Great question because it would be super useful to have a `--ignore <path>` (or `--ignore-file <path>`) parameter, too ;-)
(And there is now a conflict with `sfdx` which has an exactly same named `.forceignore` file. So ideally we rename our default to `.force-

[2018-02-04 04:05] dieffrei opened #118 "JavaScript heap out of memory"
When I tried to retrieve my package.xml, throw these errors:

Retrieving from remote production to directory src

<--- Last few GCs --->

[16791:0x102803800]   720526 ms: Mark-sweep 204.1 (212.8) -> 199.2 (212.8) MB, 29.6 / 0.0 ms  (+ 19.7 ms in 2 steps since start of marking, biggest step 14.4 ms, walltime since start of marking 796 ms) allocation failure GC in old space requested
[16791:0x102803

[2018-02-05 15:01] amtrack commented on #118
I'm very sorry to see that.

How much memory do you have available?

My feeling is that for large orgs, 1 GB of memory is not enough.
We have had many problems for example on Heroku with `Free` and `Hobby` dynos (512 MB RAM)
Switching to a `Hobby` dyno (1GB RAM and more) seems to have resolved the memory issues for us.

Unfortunately i don't have a real fix for that.
I already researched my code a

[2018-02-05 15:02] #7 closed

[2018-02-19 11:09] lodossDev commented on #111
Hi, when using the changeset create command, what are the metadata components that are not supported by this tool.

Also I am getting this error around the class meta xml files, which are not copied over:

Error completing missing metadata: classes/AccountAdminOffice.cls-meta.xml
Error completing missing metadata: classes/JobQueueService.cls-meta.xml
Error completing missing metadata: classes/JobW

[2018-02-21 17:53] rodolfonoviski opened #120 "Error git diff | force-dev-tool changeset create"
C:\Users\rnoviski\AppData\Roaming\npm\node_modules\force-dev-tool\lib\manifest.js:57
                        type: component.type,
                                       ^

TypeError: Cannot read property 'type' of null
    at module.exports.Manifest.add (C:\Users\rnoviski\AppData\Roaming\npm\node_modules\force-dev-tool\lib\manifest.js:57:19)
    at C:\Users\rnoviski\AppData\Roaming\npm\node_modul

[2018-02-21 18:04] leboff commented on #120
Hey @rodolfonoviski can you provide an example of a diff that causes this issue?

[2018-02-21 18:44] rodolfonoviski commented on #120
@leboff
 git diff origin/backupDiarioSTI Merge_STI_Vida_v1  | force-dev-tool changeset create vidaV1 -f

M       src/classes/BatchPartnerSurvey.cls
M       src/classes/BatchPartnerSurvey.cls-meta.xml
M       src/classes/BatchPartnerSurveyTest.cls-meta.xml
M       src/classes/BatchPartneySurvey.cls-meta.xml
M       src/classes/BatchPartneySurveyTest.cls-meta.xml
M       src/classes/CaseAndServReten

[2018-02-22 15:08] rodolfonoviski commented on #120
Does anyone have any idea what it might be?

[2018-02-25 16:45] amtrack commented on #120
Hi @rodolfonoviski ,

can you please check your version

[code]

If that does not output `1.1.0` please try installing the latest stable version using

[code]

[2018-02-26 17:36] rodolfonoviski commented on #120
Hi @amtrack It is at version 1.1.0

[2018-02-26 17:50] amtrack commented on #120
Let's try to lock this error down to a specific Metadata Type:

[code]

[2018-02-26 18:01] rodolfonoviski commented on #120
$ for mdapiType in classes components layouts objectTranslations objects pages; do

Error completing missing metadata: classes\AdmAnaliseConformidadeDAO.cls-meta.xml
Error completing missing metadata: classes\BatchAnaliseDeConformidadeRule.cls-meta.xml
Error completing missing metadata: classes\BatchAnaliseDeConformidadeRuleTest.cls-meta.xml
Error completing missing metadata: classes\BatchAnaliseD

[2018-02-26 18:10] amtrack commented on #120
I'm guessing `layouts` failing due to special characters in the file names.
Regarding `classes` and `pages` i have no clue however.

[2018-02-26 18:13] amtrack commented on #120
Are you using Git Bash?

[2018-02-26 18:14] rodolfonoviski commented on #120
@amtrack Yes

[2018-02-26 18:29] amtrack commented on #120
Hmm, unfortunately i don't know if i can help you any further without getting my hands on.

Ideally you could create a repository with a minimal example to reproduce this error.
In general `force-dev-tool` should be running on Windows according to the [AppVeyor builds](https://ci.appveyor.com/project/amtrack/force-dev-tool/branch/master).
So it would be great to find out what's wrong here.

[2018-02-26 18:38] rodolfonoviski commented on #120
@amtrack I can create a private repository and share it with you, so we can see what went wrong.

[2018-02-27 09:16] amtrack commented on #120
@rodolfonoviski sounds OK to me.

[2018-03-06 16:04] lodossDev opened #121 "Custom Object not retaining label name"
Hi, when a custom object is detected from a change-set diff, It does not add the label element, causing the error "Must specific a non-empty label for Custom Object"

I think it only needs to retain other things, name field etc..

[2018-03-06 17:48] #121 closed

[2018-03-06 17:50] lodossDev opened #122 "Missing meta-xml files"
log:

Error completing missing metadata: classes/ContactHandler.cls
Error completing missing metadata: classes/ContactHandler.cls-meta.xml
Error completing missing metadata: classes/LeadContacts.cls
Error completing missing metadata: classes/LeadContacts.cls-meta.xml

I am getting these errors on ApexClasses and some have missing meta.xml files?

[2018-03-13 16:48] dieffrei opened #123 "Layout name with special chars bug on change set generation"
When I try to create a change set:
git diff master | force-dev-tool change set create feature-merge -f

I got some errors for all layout names that have using special chars:
Given example:
**Correct name:** AccountAreaSales__c-Layout de Área de venda.layout
**Wrong name after on change set:** AccountAreaSales__c-Layout de \303\201rea de venda.layout"

Another strange thing is after execution, was

[2018-03-13 17:53] dieffrei opened #124 "Change set generation bug"
Some metadata classes the metadata file has not been created with content.
The file is created, but has not content.
I causes erros on deployment like:

classes/DiscountActivatedAccountDAO.cls-meta.xml | Classe do Apex | 0 | 0 | Invalid api version:0.0
-- | -- | -- | -- | --

[2018-03-14 23:31] #118 closed

[2018-03-20 21:09] okram999 commented on #121
@lodossDev - why did you close this? was this resolved?

[2018-03-20 21:54] okram999 commented on #121
@amtrack  - do you think this is a bug in SF? So we have a custom obj and to that a weblink was added. Git diff saw the change. and force-dev-tool, created the before

[code]
But salesforce deployment - fails with the` "Must specific a non-empty label for Custom Object"`

any thoughts?

[2018-03-20 22:27] lodossDev commented on #121
I think this was an issue with my global diff.

What I remember if you deploy a custom object, you have to specify the custom object label and name field.

[2018-03-20 22:29] lodossDev commented on #121
On another note, is there anyway to generate or output the test classes for a changeset?
What I am trying to do is to run only test classes for a changeset.

[2018-03-21 15:13] okram999 commented on #121
in order to get the deployment (partial), work. i have to manually add all the missing pieces into the one that the tool generated.

[code]

[2018-03-21 15:38] okram999 commented on #121
Although i think this is not the right thread. I would think that there is no feature yet. But that can be done, by tweaking the ant migration tool's task. And some discipline with the the naming of the test classes

Please do not post anything further for this in this thread.

[2018-03-21 15:49] pelim opened #125 "missing "--no-destructive" on create changeset"
im missing the a option to create a change set without the destructive changes

[2018-03-22 14:25] leboff commented on #123
@dieffrei can you set core.quotepath to off before running the diff and see if that helps?

`git config core.quotepath off`

[2018-03-22 20:26] dieffrei commented on #123
Thank you @leboff that's it!
Much appreciated your help!

[2018-03-22 20:26] #123 closed

[2018-03-26 21:20] leboff commented on #120
The fix from #123 might work here as well..

[2018-03-26 21:27] dieffrei commented on #120
It is related to layout special chars;
Take a look on #123 ;)

PT-BR: Esse erro acontecia comigo direto, só desativar o quotepath

[2018-04-05 08:51] amtrack commented on #125
Hi @pelim
i'm not planning to implement this because i believe this is not the intention of the `changeset` command.
However i suggest that you simply delete the `destructiveChanges.xml` file afterwards:

[code]

[2018-04-05 08:51] #125 closed

[2018-04-09 17:38] dieffrei opened #127 "Other approch to create change sets"
I just started to use a diferent approach to generate changesets:
Instead of you "git diff master feature".
I start my deployment pipeline with "git diff HEAD~2 HEAD --no-renames | force-dev-tool changeset create feature-merge -f"
It's like a git diff [my_curren_version] [my_previous_version] on the same branch, it's seems more robust than to specified the branch names
@amtrack let me know your th

[2018-04-09 17:42] dieffrei commented on #127
My current deployment pipeline:
https://gist.github.com/dieffrei/f35043e3d89bfeadda0778be9759b39b

[2018-04-10 11:32] amtrack commented on #127
It should not make a difference to `force-dev-tool changeset create` whether your `git diff` command uses branch names or expressions for referencing commits on the same branch.

`git diff master develop` is just an **example** in the README.

_Disclaimer: You might run into problems, when your diff command is based on uncommited changes - but this does not seem to be the case here_

Given your **

[2018-04-10 11:32] #127 closed

[2018-04-10 11:46] amtrack commented on #120
@rodolfonoviski did the trick from #123 work for you?

[2018-04-10 11:48] amtrack commented on #122
Can you please provide the command you used to generate the changeset?

[2018-04-10 11:49] #106 closed

[2018-04-10 11:51] amtrack commented on #85
I'm not planning to implement this as people already have moved or will move to using `sfdx` instead.

[2018-04-10 11:51] #85 closed

[2018-04-10 11:53] #111 closed

[2018-04-10 11:55] amtrack commented on #124
Can you please provide the command you used to generate the changeset?

Where is this coming from?

[2018-04-10 17:45] dieffrei commented on #124
git diff develop | force-dev-tool changeset create feature-merge -f

[2018-04-11 16:14] amtrack commented on #124
A typical project structure looks like this:

[code]
So if do the following to simulate creating a new feature (just as an example!), everything should work.

[code]

1. Are you having the metadata located in the `src` directory or somewhere else?
2. Do you have a similar process or are you doing s.th. differently?

[2018-04-11 16:25] amtrack commented on #120
@rodolfonoviski are you running the commands from your project root directory or from inside of the `src` directory?

I just spotted the relative part `..\`  of the path in your output:
`exported metadata container to ..\config\deployments\vidaV1-pages`

Please see my answer in #124 which might be related to your issue.

[2018-04-11 16:46] lodossDev commented on #122
This is the command I am using:

git diff %sf.post_branch% %sf.target_branch% -- src/ | force-dev-tool changeset create package_build

I have specified to only check src directory for diff and now it works.

[2018-04-12 15:14] amtrack commented on #122
I see. Are there any other directories in your repository which are named `src`.
I'm wondering why `force-dev-tool` is getting confused.

[2018-04-19 08:06] sheldonleelazarus opened #129 "Change set deployment process"
Hi Amtrack

Currently the way force-dev-tool deploys using change set is : If there are destructive changes in a changeset the force-dev-tool will proceed with destructive changes first and then proceed with the actual deploy,

I have a quick question how can I set my destructive changes to happen after my actual deploy using force-dev-tool?

[2018-04-19 08:27] amtrack commented on #129
Quoting the [docs](https://developer.salesforce.com/docs/atlas.en-us.daas.meta/daas/daas_destructive_changes.htm)

So you just have to rename `destructiveChanges.xml` to `destructiveChangesPost.xml`.

[2018-04-19 08:27] #129 closed

[2018-04-19 08:37] sheldonleelazarus commented on #129
Hi

Is there a way to automate it?

Kind Regards
Sheldon Lazarus

From: Matthias Rolke [mailto:notifications@github.com]
Sent: 19 April 2018 10:28 AM
To: amtrack/force-dev-tool <force-dev-tool@noreply.github.com>
Cc: Lazarus, Sheldon S (Grp IT) <Sheldon.Lazarus3@standardbank.co.za>; Author <author@noreply.github.com>
Subject: Re: [amtrack/force-dev-tool] Change set deployment process (#129)

Quoti

[2018-04-19 08:46] amtrack commented on #129
@sheldonleelazarus Well, there is no flag in `force-dev-tool` itself yet.
However you could just use unix commands, for example

[code]

[2018-04-19 08:48] sheldonleelazarus commented on #129
Thanks so much will use this

From: Matthias Rolke [mailto:notifications@github.com]
Sent: 19 April 2018 10:46 AM
To: amtrack/force-dev-tool <force-dev-tool@noreply.github.com>
Cc: Lazarus, Sheldon S (Grp IT) <Sheldon.Lazarus3@standardbank.co.za>; Mention <mention@noreply.github.com>
Subject: Re: [amtrack/force-dev-tool] Change set deployment process (#129)

@sheldonleelazarus<https://github.com/s

[2018-04-19 20:12] okram999 opened #130 "Get the "Last modified by" for any metadata"
This is more of a question, and NOT an issue.

@amtrack Is there a provision to get the "Last modified by" information for any metadata type in force-dev-tool?

[2018-04-20 07:36] amtrack commented on #130
@okram999
Sure!

Assuming that your remote is named `dev`.

fetch the state (if not already recently run)
[code]

show a list of metadata components if you're unsure
[code]

now show information about a specific metadata component (here: `ApexClass/ChangePasswordController`). Note that this command accepts multiple component names or patterns. Thats why the resulting JSON is an array!

[code]

If

[2018-04-20 14:58] okram999 commented on #130
@amtrack - awesome! , i will check it out.

[2018-04-20 17:36] okram999 commented on #130
the command works fine. Can we use the complete JSON file/object?
Something like  `force-dev-tool info show spr18dev *`.   This will open another door to get the file names changed by specific users.

[2018-04-21 09:30] amtrack commented on #130
@okram999

`*` won’t match any component and it should also be single quoted to prevent bash globbing.

This might work

[code]

or alternatively `'*/*' '*/*/*'`

[2018-04-23 20:59] okram999 commented on #130
Been playing with this https://github.com/shaphu/getFileMetaInfo

[2018-04-23 20:59] #130 closed

[2018-04-25 04:25] okram999 commented on #118
@dieffrei  its sad to see people closing off, without any further inputs/reference for the issue they opened.

[2018-04-25 22:48] dieffrei commented on #124
I have a lot of projects running on force-dev-tool, but I don't know what happened.
Btw I'll stay tunned if it happen again.
Thank you @amtrack

[2018-04-25 22:48] #124 closed

[2018-04-25 22:50] dieffrei commented on #118
@okram999 @amtrack the problem I got is about the documents.
We was working at time with a Large Code Base +3MI apex lines.
To solve it, I just avoid the documents ;)

[2018-04-25 22:51] dieffrei commented on #118
@okram999 an a strategy is divide in 2 packages your retrieve process.

[2018-04-26 02:12] okram999 commented on #118
True, adding all the metadata isn’t really practical....

[2018-04-27 19:37] okram999 commented on #130
oh, @amtrack - i just realized that the `json `was already in  the `config `folder.
I was under an impression that it was doing an `API `call to the `remote`.

[2018-05-02 06:44] Nazareena commented on #93
When trying force-dev-tool changeset with cli arguments having custom field metadata the package build the complete Account object rather than having only the field, do we have any fix for this example command is as below
force-dev-tool changeset create vat src/pages/AccountExtensionVAT.page CustomField/Account.VAT__c

[2018-05-02 06:48] Nazareena opened #131 "Problem with force-dev-tool changeset with cli arguments"
When trying force-dev-tool changeset with cli arguments having custom field metadata the package build the complete Account object rather than having only the field, do we have any fix for this example command is as below
force-dev-tool changeset create vat src/pages/AccountExtensionVAT.page CustomField/Account.VAT__c

Deployment getting below error because package.xml has only the custom field Ac

[2018-05-06 14:00] amtrack commented on #131
@Nazareena That's hard to tell.
Can you please provide the following information?

[code]

[2018-05-07 06:37] Nazareena commented on #131
$ force-dev-tool --version
1.1.1
$ force-dev-tool package version
36.0
$ tree -L 2 src
Too many parameters - 2
$ tree config/deployments/vat
Folder PATH listing for volume Windows
Volume serial number is 00000001 104C:6949
C:\SALESFORCEGARAGE\GITREPO\JENKINSTESTPROJECT\CONFIG\DEPLOYMENTS\VAT
├───classes
└───objects

Please find the response of the commands you have asked.

Deployment getting error

[2018-05-15 06:39] Nazareena commented on #131
Please let us know any updates on this issue

[2018-05-22 10:11] amtrack commented on #131
@Nazareena It seems strange to me that your directory `config/deployments/vat` contains `classes` and `objects` although you were trying to process a vf **page** and a custom field.

Can you please rerun the command with the `—force` flag to overwrite the generated directory:

[code]

Also please try to use only expressions rather than paths like this

[code]

Further you could play a bit wit the

[2018-05-22 11:42] Nazareena commented on #131
Sorry the comment i just pasted wrongly the actual comment i was trying was
force-dev-tool changeset create vat src/classes/CreateOpportunity.cls CustomField/Account.QBO_Customer_test__c

and it is giving me the below package.xml
Manifest:
<?xml version="1.0" encoding="UTF-8"?>
<Package xmlns="http://soap.sforce.com/2006/04/metadata">
    <types>
        <members>CreateOpportunity</members>

[2018-05-28 08:35] Nazareena commented on #131
Please let me know any updates on this issue

[2018-06-05 17:52] EthanHotz-Reisys opened #133 "Field not found in zipped directory"
Using version 1.1.1 of the tool, I'm attempting to do a basic deployment with destructive and constructive changes. Using the following commands:
git diff --no-renames master UAT | force-dev-tool changeset create destruct
force-dev-tool deploy -d config/deployments/destruct

The package.xml and destructiveChanges.xml are generating properly, and the object definition of 'myobj__c' is copying into

[2018-06-07 19:34] #133 closed

[2018-06-07 19:35] EthanHotz-Reisys commented on #133
Opted to use Force.com migration tool to do deployment

[2018-06-21 08:51] sheldonleelazarus opened #135 "Compact Layouts don't pull through on package.xml"
Hi Amtrack

I noticed that when creating compact layouts on Salesforce and adding it to the metadata,  doing a diff between branches the compact layouts are not added to the pacakage.xml only the object is added so the force-dev-tool tries to deploy the entire object instead of just the compact layout;

It results in an error in deployment "Error in CustomObject component 'SB_Product__c': Must spe

[2018-06-21 18:08] Stepan007 opened #136 "Empty .cls-meta.xml generated"
When class only updated in the repository .cls-meta.xml gets generated as well but it is empty.

[2018-06-21 18:12] Stepan007 opened #137 "When a permission set is updated in repository and based on that change a package is created label is missing"
When a permission set is updated in repository and based on that change a package is created label is missing.
During the deployment we get the following error
- Error in PermissionSet component '<PermissionSetName>': Required field is missing: label

[2018-06-26 07:43] froucher opened #143 ".forceignore doesn't ignore with create changeset"
With sfdx ".forceignore" works with the command "force:source:convert", but with "force-dev-tool create changeset" the content of ".forceignore" is not ignored.

Could this issue has sense? If yes, maybe at the end of next month I could make a PR.

[2018-06-27 11:44] Stepan007 commented on #143
I think .forceignore in case of force-dev-tool works for "force-dev-tool fetch" only, correct me if I'm wrong.

[2018-06-27 11:46] Stepan007 opened #152 "For two profiles, same diff, only one of the profiles are included into the package"
force-dev-tool changeset create "<package-name>" the following package is generated.
<?xml version="1.0" encoding="UTF-8"?>
<Package xmlns="http://soap.sforce.com/2006/04/metadata">
    <types>
        <members>Contact Centre Agent</members>
        <name>Profile</name>
    </types>
    <version>41.0</version>
</Package>

The diff result looks like this:

diff --git a/src/profiles/Contact Centre A

[2018-06-27 11:47] amtrack commented on #143
@froucher , @Stepan007
The `.forceignore` file is currently being used in the `package` command and optionally in the `fetch` command (using `--use-forceignore`).
Yes, i would accept a PR adding this functionality to the `changeset` command.

[2018-06-27 11:51] amtrack commented on #136
I updated the README a while ago.
It's recommended to use `git diff` with the `--no-renames` flag.

[2018-06-27 11:52] #122 closed

[2018-06-29 12:24] amtrack commented on #152
@Stepan007 this sounds strange! Can you provide a minimal working example (git repository) so that i'm able to reproduce this?

[2018-06-29 12:30] amtrack commented on #137
@Stepan007 that's right!
PermissionSets are not handled correctly at the moment.
I didn't have time so far to tackle this.

[2018-06-29 12:30] amtrack commented on #136
@Stepan007 Did you try if using `--no-renames` solves your issue?

[2018-06-29 12:32] amtrack commented on #131
@Nazareena can you provide a minimal working example (git repository) so that i can reproduce this?

[2018-06-29 14:36] Nazareena commented on #131
used the below command for execution
force-dev-tool changeset create vat CustomField/QBO_Invoice_Line_Item__c.QBO_Unit_Price1__c
[TestProject.zip](https://github.com/amtrack/force-dev-tool/files/2149759/TestProject.zip)

Pls refer the config folder for the issue the package.xml has only field but the entire custom object is copied under the config object folder.

[2018-06-29 16:33] amtrack commented on #131
@Nazareena I'm now able to reproduce your issue and working on a fix.

[2018-06-30 11:03] #131 closed

[2018-06-30 11:14] amtrack commented on #131
:tada: This issue has been resolved in version 2.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-02 06:44] Nazareena commented on #131
Working fine thanks.

[2018-07-02 12:48] Nazareena commented on #143
Please let us know when forceignore functionality gets added to changeset command

[2018-07-02 15:00] Nazareena opened #158 "force-dev-tool login mydev throws always invalid eventhough the valid credentials are given"
HI

Just tried these steps

$ force-dev-tool remote add mydev <username> <passwordsecuritytoken> --default
$ force-dev-tool remote add build <username> <passwordsecuritytoken>
$ force-dev-tool remote add production <username> <passwordsecuritytoken> https://login.salesforce.com
$ force-dev-tool login mydev

foce-dev-tool test

It always throws error as follows eventhough Iam giving proper credenti

[2018-07-02 15:14] amtrack commented on #158
@Nazareena Please use Markdown to format your issues and issue comments in the future!

[2018-07-03 05:51] Nazareena commented on #158
Its not working , do I am missing any steps here , pls send in detail steps.Thanks for the support.
force-dev-tool remote add mydev devopstarget@ibm.com 'passwordsecuritytoken' -u https://login.salesforce.com --default

force-dev-tool login
Error: Login failed for remote mydev: Error: INVALID_LOGIN: Invalid username, password, security token; or user locked out.

[2018-07-04 12:06] amtrack commented on #158
@Nazareena
I'm closing this issue as i cannot reproduce this.
Have you tried using another tool that requires password and security token?
If you can verify that it works with e.g. [Ant Migration Tool](https://developer.salesforce.com/docs/atlas.en-us.daas.meta/daas/meta_development.htm) and it doesn't work with `force-dev-tool`, please re-open this issue.

[2018-07-04 12:06] #158 closed

[2018-07-11 07:39] Nazareena commented on #158
tried in another tool where password and security token required and it worked , will be helpful if you can resolve this issue sharing even the password details
force-dev-tool remote add mydev 'gfk-target-devorg@ibm.com' 'gfktarget1@ulDNnBiBilV5HyeDMDO9MwLt' -u https://login.salesforce.com --default

[2018-07-11 09:09] amtrack commented on #158
@Nazareena

The following works for me (don't quote the username):

[code]

I left you a note as prove: https://ap4.salesforce.com/0666F000008Gt65

[2018-07-22 09:55] kaulonline opened #161 "Issue while fetching the updates"
Hello Folks,

I followed the documentation and while fetching I am getting the below error

force-dev-tool fetch --progress
Fetching from remote <orgname>
API Versions
Available Metadata Types
Folders
Metadata Components
**Error: [orgname]: sf:UNKNOWN_EXCEPTION: UNKNOWN_EXCEPTION: An unexpected error occurred. Please include this ErrorId if you contact support: 257161150-1155570 (-738329331)**

Ca

[2018-07-24 12:21] amtrack commented on #161
Hi @kaulonline
i added some temporary logging on the `debug-listing-metadata` branch.

Can you please install the given version and re-run the command with `DEBUG=force-dev-tool` prefixed?

[code]

[code]

[2018-08-07 10:47] froucher opened #163 "Themes support"
Hi,

I think that wwo metadata are not currently supported: "brandingSets" and "LightningExperienceThemes".

The following pull request #162 include the metadata description.

References:

- https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_brandingset.htm
- https://salesforce.stackexchange.com/questions/219356/how-to-retrieve-deploy-salesforce-lightning-theme-using-met

[2018-08-07 15:34] #163 closed

[2018-08-16 08:34] amtrack commented on #113
:tada: This issue has been resolved in version 2.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-08-16 15:42] abd3 commented on #113
Woo hoo!! Thanks for the review and for the quick merge @amtrack!

On Thu, Aug 16, 2018 at 1:34 AM Matthias Rolke <notifications@github.com>
wrote:

[2018-08-17 02:44] marsson commented on #161
Hey Guys,
I took the liberty to look into this issue as it was affecting me too.
What i found out is that StandardValueSetTranslation was giving an error when being retrieved.
The solution I had for the issue, was to remove it from the metadataTypeNames array as follows on the describe-remote.js:

`var metadataTypeNames = _.pluck(self.describeMetadataResult.metadataObjects, 'xmlName');
			metadata

[2018-08-17 09:32] amtrack commented on #161
@marsson
I'm glad you were able to determine the offending Metadata Type.

As an alternative to programmatically removing it, you should also be able to achieve that using the `.forceignore` approach.
In this case you would need to create a `.forceignore` file containing

[code]

and then run force-dev-tool using

[code]

However the question remains why fetching the `StandardValueSetTranslation`

[2018-08-19 12:25] kaulonline commented on #161
Hey Guys,
Thanks for your response..

Unfortunately I am still unable to get the erroneous component type causing this behavior
`metadata.list(): [{"type":"StaticResource"},{"type":"Scontrol"},{"type":"Certificate"}]
metadata.list(): [{"type":"AuraDefinitionBundle"},{"type":"LightningComponentBundle"},{"type":"ApexComponent"}]
metadata.list(): [{"type":"ApexPage"},{"type":"ServiceChannel"},{"type"

[2018-08-19 13:04] kaulonline opened #166 ""LIMIT_EXCEEDED: Too many files in retrieve call, limit is: 10000""
Hey Folks,

While retrieving got the Salesforce error - "LIMIT_EXCEEDED: Too many files in retrieve call, limit is: 10000" . This is the hard Salesforce limit which doesn't let you retrieve more than 10000 components in a single API call.

Not sure, if you are already aware of this and have a plan to handle this in the tool .

Pls. suggest.

Thanks,
Ashish

[2018-08-19 13:27] dieffrei commented on #166
@kaulonline it is a salesforce development platform limit.
May you should avoid do retrieve some metadata types like documents/reports or retrieve in 2 steps

[2018-08-19 13:56] kaulonline commented on #166
Thanks Diéffrei. Agree, this is a salesforce limit and this will be encountered during any metadata calls > 10000 components , however wanted to know if there was any additional mechanism built to either loop through or split the retrieve request.

[2018-08-19 14:01] dieffrei commented on #166
Got it!
I think there's no feature built-in on force-dev-tool to help you with this, because I had the same problem 1 year a go and received the same answer.
BWT I think it will be very nice if force-dev-tool could managed more than 10K of components.

[2018-08-19 14:07] kaulonline commented on #166
Yeah.. It would be interesting to see this tool handle > 10K component. Meanwhile, I tried to split the package and keeping a limited types and got the below error :

``root@ubuntu:/opt# force-dev-tool retrieve
Retrieving from remote mydev1 to directory src

<--- Last few GCs --->

[10601:0x3b32a50]  1052490 ms: Mark-sweep 111.2 (145.3) -> 110.7 (145.8) MB, 17.4 / 0.0 ms  (+ 6.7 ms in 5 steps sinc

[2018-08-19 14:10] dieffrei commented on #166
hmmmm yeap I had the same problem too. (https://github.com/amtrack/force-dev-tool/issues/118)
Seems you organization is big!
Did you try to remove Documents or some Irrelevant metadata?

[2018-08-19 14:13] kaulonline commented on #166
Thanks for pointing to the same issue. Yeah this seems to be the similar issue. Although, I had taken out Reports/Dashboards/Groups/Roles and Document (+many more unnecessary ones)

[2018-08-20 08:32] amtrack commented on #161
@kaulonline given your debug log i would suggest creating a `.forceignore` file containing

[code]

and then run force-dev-tool using

[code]

[2018-10-09 06:36] saranya-gotrala opened #169 "Delete the deployed components from salesforce"
Hi Team,

Can someone help me how to delete the salesforce components with force-dev-tool. if it is with destructive.xml file, then how to use it.

Thanks,
Saranya

[2018-10-09 06:39] dieffrei commented on #169
Hi @saranya-gotrala, you just need to make the deploy, the destructive.xml will be processed automatically after create/update components + test phase.

[2018-10-09 08:54] saranya-gotrala commented on #169
Hi @dieffrei,

Thanks for immediate response.

May I know the folder structure where to place destructive.xml file and process when it deploy one sandbox to another.
src--> package.xml and descructive.xml

Thanks,
Saranya

[2018-10-09 16:43] amtrack commented on #169
@saranya-gotrala I'm not sure if i understand your question.

Did you already read the README?

I copied the relevant section from the README below. Note that the `desctructiveChanges.xml` file will be generated and placed in the `config/deployments/undo-vat` directory (in this example).

And then you can use the generated directory `config/deployments/undo-vat` to deploy the destructive changes t

[2018-10-11 10:32] saranya-gotrala commented on #169
Hi @amtrack ,

Thanks for response.

I am trying to do CI/CD with GitLab, as I have gone through the README file and followed the same in YAML file but I don't see any descrutive.xml or folder structure created. please find the images attached.
![image](https://user-images.githubusercontent.com/23525621/46797772-1469ef80-cd1e-11e8-9d4f-ccd9e719aaa4.png)
![image](https://user-images.githubuserconte

[2018-10-15 15:55] amtrack commented on #169
@saranya-gotrala
It seems to me that your questions go far beyond the original issue of "deleting metadata with force-dev-tool".

If you would like to be consulted on how to do CI/CD with Salesforce and talk about your specific demands, I'm available for freelance work - please send me an [e-mail](mailto:mr.amtrack@gmail.com).

[2018-10-22 12:47] #169 closed

[2019-01-23 18:04] rodolfonoviski opened #174 "Error while doing deploy using --runTests"
When I upgraded to the current version of the project stopped deploy using Error while doing deploy using --runTests.

[2019-01-24 11:16] rodolfonoviski commented on #174
@amtrack Any idea about this?

[2019-01-25 15:56] amtrack commented on #174
@rodolfonoviski it should be `--runTests` instead of `--runTest`.

[2019-01-25 22:21] rodolfonoviski commented on #174
@amtrack

[code]

Same error

[2019-01-25 22:34] amtrack commented on #174
I’m glad you resolved it yourself.
And good to know, thanks for sharing!

[2019-03-15 14:47] 92SGupta opened #176 "force-dev-tool running slow"
Hi,

When i am using force-dev-tool --version it is taking lot of time to return the version or help and then again takes a lot of time before coming back to command prompt in Linux. I have checked and node --version works fine and returns the output within secs. Could the issue be related to network on which i am currently using the tool?

Any help would be highly appreciated

[root@rbdeachdaurla

[2019-03-15 20:24] amtrack commented on #176
@92SGupta Unfortunately I cannot reproduce your issue.

The `--version` and `--help` calls don't use the network and should not take more time than a second:

[code]

[code]

[code]

Have you tried comparing this with some other Node.js CLIs?

[code]

[2019-03-15 23:22] 92SGupta commented on #176
@amtrack Many thanks for the reply,

I tried the cli tool you suggested above and it seems all the Node.js CLI tools are having the issue. Do you think updating the version of node.js would help to fasten things?  As of now i am using v8.11.1.

 time oclif --version
oclif/1.12.10 linux-x64 node-v8.11.1

real    0m17.419s
user    0m2.487s
sys     0m0.264s

[2019-04-04 08:53] amtrack commented on #112
duplicate of #90, #13

[2019-04-04 08:53] #112 closed

[2019-04-04 08:54] #166 closed

[2019-04-04 08:55] #136 closed

[2019-04-04 08:55] #152 closed

[2019-04-04 08:55] #161 closed

[2019-04-04 08:57] #120 closed

[2019-04-09 11:29] 92SGupta opened #180 "Force-dev-tool is not able to retrieve the dashboard components from unfiled$public folder."
I am trying to fetch the Dashboard components from the source org using the below package.xml but it seems the force-dev-tool is not able to fetch the dashboard components and reports from the unfiled$public folder. Is it because of any limitations to the force-dev-tool?

<?xml version="1.0" encoding="UTF-8"?>
<Package xmlns="http://soap.sforce.com/2006/04/metadata">
    <types>
        <members>A

[2019-04-09 11:54] amtrack commented on #180
@92SGupta the delimiter between folder name and file name should be a slash (`/`):

[code]

[2019-04-10 12:44] 92SGupta commented on #180
Thanks @amtrack for the help.. change in the delimiter to slash(/) works fine. Please ignore the PLACEHOLDER metadata type as it came because of the config issue which i have corrected now and the correct Metadata type is Dashboard. Now i am able to fetch the data but force-dev-tool is still throwing an error which i am not sure of as what its related to.

Error: ENOENT: no such file or directory,

[2019-04-10 12:49] amtrack commented on #180
@92SGupta Please post your command.

[2019-04-10 15:06] 92SGupta commented on #180
@amtrack : Please check below. This fetches the data but also gives the error. I have also attached the new package.xml.

force-dev-tool retrieve -d Item-08145_vlocityb02/src vlocityb02
Retrieving from remote vlocityb02 to directory .
Error: ENOENT: no such file or directory, unlink 'unpackaged.zip'

<?xml version="1.0" encoding="UTF-8"?>
<Package xmlns="http://soap.sforce.com/2006/04/metadata">

[2019-04-10 15:07] 92SGupta commented on #180
@amtrack : Please check below. This fetches the data but also gives the error. I have also attached the new package.xml.

force-dev-tool retrieve -d Item-08145_vlocityb02/src vlocityb02
Retrieving from remote vlocityb02 to directory .
Error: ENOENT: no such file or directory, unlink 'unpackaged.zip'

<?xml version="1.0" encoding="UTF-8"?>
<Package xmlns="http://soap.sforce.com/2006/04/metadata">

[2019-04-10 15:37] 92SGupta commented on #180
@amtrack  Regarding the usage of slash as delimiter... Is it required only for Report metadata type? Because for Metadata type as Apex classes and objects dot(.) works fine as <parent component.component name>?

[2019-04-10 22:33] 92SGupta commented on #180
The error has gone, i am not sure how. Also i got the slash usage as delimiter for the specific metadata type. Closing the Issue now. Thanks for the help!!!!

[2019-04-13 08:49] abhisheksaxena7 opened #181 "Lightning Web Components isn't supported by force-dev-tool"
We use Force-dev-tool to deploy metadata to orgs but when we add LWC in the mix, it doesn't seem to pick them up, put them in package.xml and deploy them. Can we expect a fix regarding LWC's soon?

[2019-04-13 08:54] abhisheksaxena7 opened #182 "Deleting a single file inside an aura bundle adds the whole bundle to destructiveChanges.xml"
As the title suggests, when we delete a single file inside the aura bundle and pass the git diff over to force-dev-tool for further processing. The destructiveChanges.xml that's spit out contains the auraBundle whereas, what should happen is that it should be an update operation and the auraBundle should be in the package.xml because auraBundles can live without helpers/controllers.

[2019-04-17 12:08] 92SGupta commented on #74
@amtrack: could you please suggest the example package.xml which needs to be used for picking the standard picklist values? Do i need to define both CustomField and StandardValueSet in my package.xml to fetch both as below? I tried with just StandardValueSet as metadata name but it only fetches the AccountContactMultiRoles.standardValueSet. Please provide your views on this?

<members>AccountConta

[2019-04-17 15:29] amtrack commented on #182
@abhisheksaxena7 Good catch! That's clearly a bug.
As per the Disclaimer in the README i have announced reduced maintenance.
I don't know when i will find the time to fix this.
Do you want to provide a pull request?

[2019-04-17 15:35] amtrack commented on #74
@92SGupta

If you have an API version >= 38.0 in your package.xml, you should only have to list the StandardValueSet.

[code]

[2019-04-17 17:35] 92SGupta commented on #74
Thanks @amtrack  but just out of curiosity, what's the use of config.standardPicklistMapping  under lib/config.js ? If i am passing the package .xml as above and its just fetching me "AccountContactMultiRoles.standardValueSet" file but not the .object file which is fetched when i explicitly uses  both metadata name as "CustomField". So is it like objects/AccountContactRelation.object is not requir

[2019-04-24 12:48] 92SGupta commented on #180
@amtrack Hi , I was able to fetch the components successfully but when i am trying to deploy those using the parent folder / report name i am getting error during validations. Please check below and suggest?

`force-dev-tool validate -d /appdata01/jenkins-slave/workspace/Corm-Vlocity-Feature-Validate1/config/deployments/Item-08328
Running Validation of directory  to remote citc
Error: Validation f

[2019-04-24 12:50] amtrack commented on #180
@92SGupta To retrieve and deploy the folder itself, see below
(Note: this does not work for the reserved standard folder `unfiled$public`).

[code]

[2019-04-24 13:10] 92SGupta commented on #180
@amtrack  thanks for the quick response . I tried the same and still got the same error. I fetched the reports from unfiled$public and Sample_Reports_For_Dashboards . And they all came under the same folder Sample_Reports_For_Dashboards. Please see below

[jenkins@rb-dv-dpvmjks02 Item-08328]$ ls -lrt
total 8
drwxr-xr-x. 2 jenkins developer   43 Apr 24 10:46 dashboards
drwxr-xr-x. 2 jenkins develop

[2019-04-24 19:35] 92SGupta commented on #180
@amtrack I got the issue, it was because my target org didn't had the folder Sample_Reports_For_Dashboards already created hence the validation was failing. I have created it now and now the validation and deployment both are successful. Is there any way i can automatically create the parent folder first and then deploy the code?

[2019-04-24 19:43] amtrack commented on #180
It is sufficient to deploy folders and reports together. No need to do a pre-deploy.
Please see my last example I gave you.

[2019-04-24 21:30] 92SGupta commented on #180
@amtrack Sorry but i have already tried that and both validation and deploy  fails with same error. Please check below:

force-dev-tool deploy -d /appdata01/jenkins-slave/workspace/Corm-Vlocity-Feature-Validate1/config/deployments/Item-08372
Running Deployment of directory  to remote validation
Error: Deployment failed.
 - Error in Report component 'Sample_Reports_For_Dashboards/my_team_cases': Ca

[2019-04-24 21:58] amtrack commented on #180
And make sure you really retrieve the Metadata using that package.xml first (including the folder).

[2019-04-24 22:30] 92SGupta commented on #180
@amtrack  I am sorry .. I got it now. Thanks

[2019-04-24 22:30] #180 closed

[2019-04-24 23:06] 92SGupta commented on #180
@amtrack   Yeah i was making this mistake and now i got it . I am now able to validate and deploy successfully. You are really helpful mate , thanks a ton!!!!

[2019-05-03 18:27] Nazareena opened #184 "how to deploy page layout by explicitly listing components, getting below error"
internal/validators.js:125
    throw new ERR_INVALID_ARG_TYPE(name, 'string', value);
    ^

TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined
    at validateString (internal/validators.js:125:11)
    at Object.dirname (path.js:1143:5)
    at module.exports.DescribeMetadataService.getTypeForFilepath (/var/lib/jenkins/tools/jenkins.plugins.nodejs.

[2019-05-05 09:10] amtrack commented on #184
@Nazareena Please, if you need help, you should at least provide the steps to reproduce this error or give a more precise example to underline your question.

To deploy a certain page layout, i would do s.th. like this:

[code]

[2019-05-13 06:20] Nazareena commented on #184
Yes its working I think issue is when i pass that as parameter , i will check on that.

[2019-05-14 09:04] #184 closed

[2019-05-30 09:15] sheldonleelazarus commented on #181
@amtrack this would be very helpful if LWC is added to the force-dev-tool.. please....

[2019-06-07 21:11] amtrack commented on #181
@abhisheksaxena7 please see #198 by @sheldonleelazarus

[2019-06-07 21:12] #181 closed

[2019-06-08 00:09] abd3 commented on #181
@amtrack, see, people still love your project

[2019-06-08 00:12] abhisheksaxena7 commented on #181
Wonderful!! Will try it out and let you know.

On Sat, Jun 8, 2019, 2:41 AM Matthias Rolke <notifications@github.com>
wrote:

[2019-07-16 10:17] ChinthapatlaRavali opened #202 "/var/lib/jenkins/tools/jenkins.plugins.nodejs.tools.NodeJSInstallation/RecentNode/lib/node_modules/force-dev-tool/lib/manifest.js:57 type: component.type, ^ TypeError: Cannot read property 'type' of null at module.exports.Manifest.add (/var/lib/jenkins/tools/jenkins.plugins.nodejs.tools.NodeJSInstallation/RecentNode/lib/node_modules/force-dev-tool/lib/manifest.js:57:20) at /var/lib/jenkins/tools/jenkins.plugins.nodejs.tools.NodeJSInstallation/RecentNode/lib/node_modules/force-dev-tool/lib/metadata-container.js:337:43 at Array.forEach (<anonymous>)"
we are getting this issue please lte us know how we can debug the issue.
/var/lib/jenkins/tools/jenkins.plugins.nodejs.tools.NodeJSInstallation/RecentNode/lib/node_modules/force-dev-tool/lib/manifest.js:57
			type: component.type,
			                ^

TypeError: Cannot read property 'type' of null
    at module.exports.Manifest.add (/var/lib/jenkins/tools/jenkins.plugins.nodejs.tools.NodeJSInstal

[2019-07-16 18:19] Nazareena commented on #202
Please let me know how i can debug the issue in force-dev-tool

[2019-07-17 09:28] amtrack commented on #202
@ChinthapatlaRavali @Nazareena To debug an issue, it would be very helpful to get some context about this error:

- What command were you running?
- What version of `Node.js` and `force-dev-tool` are you running?

[2019-07-17 09:45] Nazareena commented on #202
When there is some difference identified in gb_tables for the package creation we are facing this issue.

[2019-07-17 09:48] amtrack commented on #202
@Nazareena i don't know what you mean with `gb_tables`. Maybe you are referring to a term used in your company or org.

[2019-07-17 10:18] ChinthapatlaRavali commented on #202
Its something related to gridbuddy json files, for now we ignored that difference and able to build the package. Thanks.

[2019-07-17 10:20] Nazareena commented on #202
Its something related to grid buddy json files in our org , for now we have ignored those files and created the package.Thanks

[2019-07-17 10:23] amtrack commented on #202
@Nazareena In this case, please also attach the content (anonymized if necessary) of your `.forceignore` with the information mentioned above (https://github.com/amtrack/force-dev-tool/issues/202#issuecomment-512177736).

[2019-07-22 13:43] g1b3r opened #206 "echo "" | force-dev-tool changeset create Deploy src/classes/AccountHelper.cls causes error"
When i try to do this i got a error additionaly i cannot add more that 2 elements to create changeset

internal/validators.js:125
    throw new ERR_INVALID_ARG_TYPE(name, 'string', value);
    ^

TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type undefined
    at validateString (internal/validators.js:125:11)
    at Object.dirname (path.js:1260:5)
    at mo

[2019-07-22 14:30] g1b3r commented on #143
Hello

Can you please let me know when this functionality will be available to use. Or maybe someone have better version how to exclude something from deployment ?

BR

[2019-07-23 10:13] amtrack commented on #206
@g1b3r I'm getting the same error when the file does not exist.
Are you sure that `src/classes/AccountHelper.cls` exists?

[2019-07-23 11:50] g1b3r commented on #206
Yes im sure its here :)

[2019-07-24 07:13] g1b3r commented on #206
If i try to add for example 3 classes i got similiar error. On 2 working fine. I think there is a problem with lenght of string :(

[2019-10-01 09:33] froucher commented on #89
Hello, I want to ask if someone is working in a solution for this bug. If not, I will try to investigate if I can create a pull request, but not sure if I will be able...

[2019-10-02 14:56] amtrack commented on #89
@froucher I'm looking into it now.

[2019-10-03 14:17] #89 closed

[2019-10-03 14:26] amtrack commented on #89
:tada: This issue has been resolved in version 2.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-03 14:34] froucher commented on #89
:clap::clap::clap:

[2019-10-17 08:12] 92SGupta opened #210 "Facing the Socket disconnect error while retrieving the metadata from the orgs"
When i am trying to run the command to fetch the metadata from the org. I am getting below error:

Retrieving from remote vb02 to directory ../packages/Item-10382_vlocityb02/src
Error: Client network socket disconnected before secure TLS connection was established
    at connResetException (internal/errors.js:570:14)
    at TLSSocket.onConnectEnd (_tls_wrap.js:1361:19)
    at Object.onceWrapper (e

[2019-10-17 14:50] 92SGupta commented on #210
Thanks @amtrack

Thanks @amtrack . I know that this is not related to force-dev-tool as this error is happening for sfdx as well but just wanted to know if anyone has faced this issue earlier. Thanks for the investigation steps.

[2019-10-17 14:50] #210 closed

[2019-10-18 09:12] ravirajah commented on #100
still stuck on api 45  how can we get this to be 47?

[2019-11-06 10:23] froucher opened #211 "Support to CustomNotificationType"
Hello,

Recently we have created a delta with a CustomNotificationType metadata and the delta has not generated this new metadata, CustomNotificationType are available in API version 46.0 and later.

Reference: https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_customnotificationtype.htm

If you want, I can try to create a Pull Request with this new feature...

Regards

[2019-11-08 10:10] amtrack commented on #211
addressed in #213

[2019-11-08 10:10] #211 closed

[2019-11-08 12:23] amtrack commented on #202
closing because of inactivity

[2019-11-08 12:23] #202 closed

[2019-12-11 22:41] kamell opened #215 "Error creating the package with LWC"
Hi, when running the following command on a src with one LWC called caseServicePanel:

`git diff --no-renames 1.0.5 HEAD | force-dev-tool changeset create delta --apiVersion 46.0 -d ./publish`

The following package entry is created:
[code]

Notice the extra line for "lwc" which causes an error in the deployment. Appreciate any help on this! thanks,

[2019-12-13 11:09] amtrack commented on #215
@kamell I've formatted your package.xml for better readability (Note: in Markdown multiline code snippets are best declared with 3 backticks).

I tried but cannot reproduce your issue.

For debugging, you could try to narrow down where that "lwc" components comes from.

I assume your Metadata lives in the `src` folder, right?

[code]

Also, the output of the following command would be interesting:

[2019-12-13 15:17] kamell commented on #215
Hi @amtrack , many thanks for the quick response.

running the tool on src/lwc is the one that starts creating the package.xml with that extra 'lwc' member line. There is nothing else but the caseServicePanel LWC in that folder. weird!

Regarding the output of the git diff, these are lines regarding /lwc folder (removed the rest for clarity):

[code]

Many thanks again!

[2019-12-13 15:33] amtrack commented on #215
@kamell Great to hear!

I suspect that `src/lwc/jsconfig.json` (and `src/lwc/.eslintrc.json`) are recognized as lwc components itself. Given that lwc components are based in a folder, the folder name (here: `lwc`) of those files is determined as the component name.

I doubt that those two files should be placed there in the old Metadata file structure,
but if you want to continue working this way

[2019-12-13 15:34] #215 closed

[2019-12-13 15:46] kamell commented on #215
@amtrack , you were right. the exclude made the trick. Many thanks!!

[2020-01-02 07:11] nitssnatha opened #218 ""customSettingAccesses" changes in Profile xml file are not getting picked in the pipelines."
Hi @amtrack
When I am adding custom setting permissions to profile file as per version 47. Its not getting validated against org.

[2020-01-02 09:39] amtrack commented on #218
@nitssnatha Can you please provide more information about what you are trying to do?

I have no insight what you are doing _in the pipelines_ ...

[2020-01-03 04:24] nitssnatha commented on #218
I am just deploying a profile with some custom setting in "customSettingAccesses" tag which is not getting validated against the target org.
For eg:
   <customSettingAccesses>
        <enabled>true</enabled>
        <name>CustomSetting__c</name>   //API name of custom setting.
    </customSettingAccesses>

[2020-01-03 07:50] amtrack commented on #218
@nitssnatha According to the Salesforce Metadata docs ([v47](https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_profile.htm) and [v48](https://developer.salesforce.com/docs/atlas.en-us.224.0.api_meta.meta/api_meta/meta_profile.htm)) `customSettingAccesses` is only available with API version 48.

[2020-02-20 12:14] froucher opened #223 "Support for LightningMessageChannel"
Hello @amtrack,

I recently have create PR #222 to add support to LightningMessageChannel, it is in Beta, but we need to add it to force-dev-tool.

The metadata reference link is:
https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_lightningmessagechannel.htm

It is available from Api 47.0

This is a sample:

src/messageChannels/sample.messageChannel
[code]

[2020-02-20 17:43] #223 closed

[2020-02-20 17:50] amtrack commented on #223
:tada: This issue has been resolved in version 2.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool/v/2.6.0)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-24 16:51] joshnarani opened #224 "Package.xml is not capturing changes of customSettingAccesses and customMetadataTypeAccesses in Profiles"
Salesforce sent an update to add customSettingAccesses and customMetadataTypeAccesses in Profiles, when trying to deploy the package is not getting created for these changes, its creating blank package.

[2020-02-27 10:02] amtrack commented on #224
duplicate of #218

[2020-02-27 10:02] #224 closed

[2020-02-27 10:04] amtrack commented on #218
@nitssnatha @joshnarani I've just tested this and can now confirm that this is indeed a bug.

[2020-02-28 07:08] nitssnatha commented on #218
Thanks, @amtrack  for testing this.

[2020-03-17 10:05] froucher opened #226 "Custom Object with Compact Layout"
# Custom Object with Compact Layout

When a Compact Layout is added to a Custom Object the change set can't be deployed, and it returns the following error:

[code]

## Steps to reproduce the error

1. Create a new repository

[code]

1. Create the simplest Custom Object and commit

    Init the folders

[code]

    Add a `src/package.xml` file:

[code]

    Then, create a new file `src/objects/Cu

[2020-03-19 09:50] amtrack commented on #226
Hey @froucher,
thank you very much for your very detailed report!
I really appreciate that! 🙏

Yes, I agree that the `changeset create` command needs to include required properties.
Additionally to `CustomObject` this should also be the case for `PermissionSet`, `Profiles` and probably more Metadata Types.

Do you already have an idea on how to implement this?
As you know, I've deprecated this pro

[2020-03-23 15:02] froucher commented on #226
Hi,

Yes I would really appreciate your help with a web meeting.

During these days I have reviewed the code, but I am not sure where is the best point to add it.

Maybe the end of the 'changeset' process:

changeset.js:
[code]

Inside of the function `completeMetadataStream()` and `completeMetadataWith()`

[code]

But not sure if it is the best point to add this patch.

Thanks.

[2020-03-30 07:10] froucher commented on #226
I am working in the PR #228

[2020-03-31 15:26] froucher commented on #226
As we have talked, we will reject the PR, because the solution must be implemented differently due to "Compact Layout" isn't a "independent child", that means can't be treated separately from the rest of the metadata file. So we are going to remove "Compact Layout" from [ChildXmlName](https://github.com/amtrack/force-dev-tool/blob/master/lib/describe-metadata-result.json#L106).

So the solution I

[2020-04-01 07:10] amtrack commented on #226
@froucher Yes, I agree.

Looking at the code, I think most of the changes could be applied in [metadata-file-container.js](https://github.com/amtrack/force-dev-tool/blob/2cb37b9bc7e89d17f033288a1ce87d9f4c3363aa/lib/metadata-file-container.js) (`parse`, `diff`, `toString`).

[2020-04-01 09:05] froucher commented on #13
Hello,

Then I will start with this PR.

Sorry but I think I found some issues in the behaviours definition:

[code]

Right now, I am not sure about which must be the behaviour when some independent child is removed. @amtrack can you help me defining which is the expected behaviour?

Thanks and regards

[2020-04-01 15:46] froucher commented on #13
Hi again,

Maybe the behaviour with a removed child is:

[code]

Thanks

[2020-04-02 11:10] amtrack commented on #13
@froucher your last comment seems to be correct.

BTW creating a destructiveChanges.xml for e.g. a CustomField is already implemented: https://github.com/amtrack/sfdx-playground/tree/objects/config/deployments/expected

[2020-04-02 11:27] froucher commented on #13
ok, thanks, I will keep you informed with the progress of the PR

[2020-04-02 13:25] amtrack commented on #13
Thank you!

[2020-04-21 09:57] froucher commented on #13
This is the PR #230 that we are working

[2020-04-21 10:07] froucher commented on #13
Hello @amtrack, I am working to develop Compact Layout changes.

The PR #230, right now, works fine, it deploys right the changeset with new compact Layout.

The issue is with the destructiveChange.xml, compactLayout need to considered as a different component as the parent object to be removed.

This means that the solution need to consider CompactLayout as parent metadata when it is new or modif

[2020-04-23 10:03] amtrack commented on #13
@froucher I think CompactLayout can be treated as a named (standalone) metadata type.
I've adjusted the test. Please cherry-pick the commit if you agree: https://github.com/amtrack/force-dev-tool/commit/72c2bca26b70dd90dcf35326c613ae5f0084cb7d

[2020-04-23 10:55] froucher commented on #13
Hello @amtrack,

This is related to the issue #226, which talks about Compact Layout deployment and how it depends on 'label' property. We thought that the way to resolve this is that compact Layout was not treated as a named metadata.

Now, maybe we need to think about other solution.

Do you agree?

Thanks

[2020-04-23 11:04] amtrack commented on #13
So the initial assumption about `CompactLayout` was wrong but we now know that `CompactLayout` can be treated similar to `CustomField` as an independent and named child type.

[2020-04-27 11:57] froucher commented on #13
Yes, you are right, thanks, I have checked your commit with Compact Layout test and it is an independent child, I do a rollback of the related changes, and I will fix that currently force-dev-tool creates a wrong `package.xml`:

[code]

CustomObject changeset:

[code]

[2020-04-27 13:21] froucher commented on #13
Hello @amtrack,

It seems it was very easy to resolve "Compact Layout" fix.

Please check the 723f8bdd611adea84e4bb218449ef390d30e83d5 commit, I have added "isNamed: true" in the "lib/describe-metadata-service.js". Is it right?

Thanks

[2020-04-28 03:58] Saranyagotraladevops opened #231 "Can I customize the package as per the sfdx folder structure"
As per the force-dev-tool, src/package.xml folder structure. Now for sfdx cli it is like force-dev-tool/ and manifest/ folder structure.
Is it possible for me to customize force-dev-tool to sfdx cli folder.
I need this change to be applicable on change set creation.
Please suggest.

[2020-04-28 09:14] froucher commented on #13
About`SearchLayouts`, it is working, I have added two tests in the following commit a228d8c4c33b6c2157f5c676e5022f16ae693e16

[2020-05-04 08:22] froucher commented on #226
This is the new PR #232

[2020-05-06 13:30] #135 closed

[2020-05-06 13:32] amtrack commented on #226
resolved by #232

[2020-05-06 13:32] #226 closed

[2020-05-06 13:48] amtrack commented on #135
:tada: This issue has been resolved in version 2.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool/v/2.6.1)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-07 14:15] sheldonleelazarus opened #233 "Recordtype Issue"
Hi All

I am using Azure DevOps to deploy my changes to different sandboxes , Azure DevOps uses Linux agents, for the past few months i started getting the below errors:

 Error in RecordType component 'Case.CCC_Angola': At least one value is required to create this picklist.
Error in RecordType component 'Contact.Inactive_Client_Contact_Record_Type': At least one value is required to create this

[2020-05-10 12:41] amtrack commented on #233
@sheldonleelazarus It would be great if you could provide more context on about what you are trying to do.

- What commands are you running for the deployment?
- What do the commands print as output?
- Can you provide an (anonymized) diff?

[2020-05-10 12:47] amtrack commented on #231
@Saranyagotraladevops What are you trying to do with force-dev-tool?

Note: force-dev-tool only works for Metadata in the traditional (composed) format.
It doesn't work with the uncomposed SFDX source format of Metadata.

Per convention force-dev-tool uses the `src` directory.
However if you want to retrieve or deploy another Metadata folder (in traditional format) you can specify the folder

[cod

[2020-05-10 13:07] #231 closed

[2020-05-11 08:35] sheldonleelazarus commented on #233
Hi @amtrack

- I am doing a git diff of branches (commands I am using) - **git diff  qa feature/US-12 | force-dev-tool changeset create Package**
- I have attached the log of the failed deployment, in the log you will see the package.xml that is being created shows Case.CCC_Angola recordtype being deployed however no changes were made to this recordtype but the recordtype that should be deployed i

[2020-05-11 09:18] amtrack commented on #233
@sheldonleelazarus Are you saying that it works on your machine but not on Azure DevOps?

The git command only works when both branches are checked out:
I can imagine that this is the case on your machine but maybe not on Azure DevOps.

Please verify on Azure DevOps that the following command works before piping it to force-dev-tool:

[code]

If this doesn't output the desired result, you can try

[2020-05-11 12:04] sheldonleelazarus commented on #233
@amtrack  Yes my commands worked before, this bug started happening from about Feb for me and I can confirm I am actually using git diff origin/qa origin/feature/US-12 in Azure DevOps

[2020-05-11 16:39] amtrack commented on #233
@sheldonleelazarus It's hard for me to believe that force-dev-tool picks up a different RecordType which is not in the diff and that this only happens in Azure DevOps?!

Can you please output `git diff origin/qa origin/feature/US-12` right before doing `git diff origin/qa origin/feature/US-12 | force-dev-tool changeset create Package`, so that we're 100% sure the diff is the right one to pipe into

[2020-05-12 09:46] #13 closed

[2020-05-12 09:46] #90 closed

[2020-05-12 09:46] #137 closed

[2020-05-12 10:06] amtrack commented on #13
:tada: This issue has been resolved in version 2.6.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool/v/2.6.2)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.6.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-12 10:06] amtrack commented on #90
:tada: This issue has been resolved in version 2.6.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool/v/2.6.2)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.6.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-12 10:06] amtrack commented on #137
:tada: This issue has been resolved in version 2.6.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool/v/2.6.2)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.6.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-12 15:07] #218 closed

[2020-05-12 15:31] amtrack commented on #218
:tada: This issue has been resolved in version 2.6.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool/v/2.6.3)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.6.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-12 17:05] Saranyagotraladevops commented on #231
Thanks for coming back on this.

[2020-05-12 17:12] Saranyagotraladevops opened #237 "How to validate a only package changes created with changeset"
I am unable to use following commands which i have seen in one of the websites mentioned below.
https://devhub.io/repos/amtrack-force-dev-tool

$ force-dev-tool validateTest -d config/deployments/vat

Kindly guide me.

[2020-05-12 19:47] amtrack commented on #237
[code]

If you need other options see `force-dev-tool deploy -h` for help.

[2020-05-12 19:48] #237 closed

[2020-05-14 10:45] froucher opened #238 "Long label is trimmed"
Hello @amtrack,

Sorry but there is an issue with last version, in a Custom Object when parent properties are too long then the property is trimmed.

An example is:
[code]

This change create a change set like this:

[code]

Where "label" is trimmed.

I am going to create a PR with a test that fix this critical issue.

Thanks

[2020-05-14 10:54] froucher commented on #238
Pull request is #239

[2020-05-14 14:20] froucher opened #240 "Support for Prompt metadata API"
Support for "Prompt" metadata API:

https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_prompt.htm

[2020-05-14 14:22] froucher commented on #240
PR #241

[2020-05-15 09:51] #238 closed

[2020-05-15 10:10] amtrack commented on #238
:tada: This issue has been resolved in version 2.6.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool/v/2.6.4)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.6.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-18 09:46] amtrack commented on #240
implemented in #241

[2020-05-18 09:46] #240 closed

[2020-05-18 09:49] amtrack commented on #233
@sheldonleelazarus any news on this?

[2020-05-18 13:02] sheldonleelazarus commented on #233
@amtrack  yes, i tried to use a different repo to perform similar changes and i could not replicate the issue with Azure DevOps, everything worked as expected, I have a suspicion it could be the metadata file or the type of IDE that was used to update the metadata in our repo

[2020-05-18 13:25] amtrack commented on #233
@sheldonleelazarus OK, good to know. Thanks for the feedback!

[2020-05-18 13:25] #233 closed

[2020-05-18 13:29] amtrack commented on #143
It is possible to [exclude files using git](https://stackoverflow.com/questions/5685007/making-git-log-ignore-changes-for-certain-paths/21079437#21079437).

Closing this issue as wontfix.

[2020-05-18 13:29] #143 closed

[2020-05-18 16:40] froucher opened #243 "character '&' in xml documents"
Hello,

It's about the conversion from `&`  to `&amp;`, related to https://github.com/isaacs/sax-js/issues/167 issue.

https://github.com/amtrack/force-dev-tool/blob/master/lib/metadata-file-container.js#L211

The fix with `text.replace(new RegExp('&',"gm"), '&amp;');` doesn't not resolve any issue, even creates new bugs, if the metadata contains an unescaped `&` character then means that metadata

[2020-05-19 12:14] #243 closed

[2020-05-19 12:34] amtrack commented on #243
:tada: This issue has been resolved in version 2.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool/v/2.7.0)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-22 16:12] amtrack commented on #100
The new PermissionSet behaviour was implemented in #208

[2020-05-22 16:12] #100 closed

[2020-06-29 08:49] bartoszsliwinski opened #249 "package is showing changes not included in `git diff`"
When using `git diff | force-dev-tool changeset create` on Azure DevOps some XML files sometimes include non-existing changes. It usually happens for Admin.profile and SObjects.
For example diff below:
[code]
Produces this Admin.profile:
[code]

[2020-06-29 16:12] froucher opened #250 "PermissionSetGroup metadata not supported"
Hi @amtrack,

We have found that [PermissionSetGroup](https://developer.salesforce.com/docs/atlas.en-us.api_meta.meta/api_meta/meta_permissionsetgroup.htm) is not currently supported, so I will start a Pull Request with the code changes.

Thanks and regards

[2020-06-30 17:40] mentux commented on #249
Hi!
We have the same issue.
Any suggestion?

[2020-07-01 07:54] sheldonleelazarus commented on #249
@froucher  have you experienced this as well?

[2020-07-01 08:05] amtrack commented on #249
@sheldonleelazarus No and I'm surprised, but I'll try to reproduce this when I find some time.

[2020-07-01 08:36] froucher commented on #249
Hi,

Sorry, I have not experienced the issue, @sheldonleelazarus, @mentux, @bartoszsliwinski maybe you can help force-dev-tool support, starting a branch with a test example of this issue, based in the following test folder & behaviour:

https://github.com/amtrack/force-dev-tool/tree/master/test-functional/data/simple-metadata/profile-custom-settings

https://github.com/amtrack/force-dev-tool/blob

[2020-07-01 09:48] sheldonleelazarus commented on #249
@froucher  thanks for this will have a look

[2020-07-01 13:05] dabdemon opened #251 "Error in changeset when the component is null"
When a metadata is not supported, the getComponent() method returns null, but the code keeps running. While evaluating the component.type and component.name in the manifest.prototype.add method, an error is throw and the process fails.

To fix this we need to handle nulls appropriately, since new metadata may be supported yet.

[2020-07-02 12:39] mentux commented on #249
Guys!

The problem occurs because the package.xml file is missing from the src directory. I added the file and the deployment was successful. Worth the try @bartoszsliwinski .

That solves for me.

Thanks to all!

[2020-07-07 08:37] sheldonleelazarus commented on #249
Hi @froucher your information is very useful,  i am trying to debug my scenario however i am getting the attached error log when trying to run npm run test:functional on my machine, do you know what could be the problem
[2020-07-07T08_20_10_757Z-debug.log](https://github.com/amtrack/force-dev-tool/files/4883630/2020-07-07T08_20_10_757Z-debug.log)

[2020-07-10 10:14] froucher commented on #249
Hello,

There's not to much information. Logs says:

[code]

Maybe it is a npm issue? In my local, I run tests with the below versions:

[code]

Please, can you try to launch directly without npm with the following command?

[code]

Thanks.

[2020-07-20 15:36] #250 closed

[2020-07-20 15:56] amtrack commented on #250
:tada: This issue has been resolved in version 2.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool/v/2.8.0)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-21 10:21] froucher commented on #250
Thank you! 👏 👏 👏

[2020-07-21 16:53] froucher opened #255 "Version 2.8.0 vs 2.7.0"
Hi @amtrack,

I am checking the last version (`2.8.0`) of force-dev-tool, and I have a weird issue.

The issue is that `package.xml` with `2.8.0` has a lot of less elements that the `package.xml` generate with `2.7.0` version and when I execute the `changeset create delta` with `2.8.0` the console shows a lot of lines like:

[code]

It is weird because the changeset is created without `ApexClass`,

[2020-07-21 20:39] amtrack commented on #255
@froucher hmm, maybe there is a mismatch between the build for development/testing and the production build?
Are you able to reproduce this using a build from latest master branch? (git clone; npm link)

[2020-07-22 07:36] froucher commented on #255
Yes, I also reproduce the issue with master branch, it seems the issue started with the version 2.7.1, maybe it is a npm dependency issue, I think I am close to find why it is happening...

[2020-07-22 07:52] froucher commented on #255
It seems the issue starts with this commit: 0a9cfab

Because I rollbacked commits one by one until the previous commit fbca8bd, redo the npm install for "event-stream" old dependency, and it started to work again.

And if I move my local again to 0a9cfab commit and redo the npm install, then the issue comes back.

I will continue to investigate why "merge-stream" dependency is not working.

[2020-07-22 08:15] amtrack commented on #255
@froucher Can you please the [fix/parse-input](https://github.com/amtrack/force-dev-tool/tree/fix/parse-input) this branch?

[2020-07-22 08:31] froucher commented on #255
This fix is working fine!! 👏 👏 👏

There's no difference between both package.xml

[2020-07-22 08:45] amtrack commented on #249
@bartoszsliwinski Do you have Metadata in other directories than `src`?
If so, you could try to limit the diff to explicitly the `src` directory using `git diff -- src`.

[2020-07-22 09:13] #255 closed

[2020-07-22 09:32] amtrack commented on #255
:tada: This issue has been resolved in version 2.8.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool/v/2.8.1)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-22 12:22] bartoszsliwinski commented on #249
Hey @amtrack I see your point but actually not - we don't have metadata in other directories. Even if  there would be something else, doesn't FDL work based on just the results of diff? And diff does not contain anything other than just my single file with single change. It doesn't seem like that's the issue here

[2020-07-23 10:36] amtrack commented on #249
@bartoszsliwinski Is the solution @mentux provided working for you?

[2020-07-24 11:22] bartoszsliwinski commented on #249
@amtrack unfortunately not, we already do have the package.xml file. Is there any way other then already mentioned here that I could help debugging?

[2020-07-24 11:52] amtrack commented on #249
@bartoszsliwinski Could you please share your Azure DevOps configuration, especially how you launch `git diff | force-dev-tool changeset create`?

This sounds as strange as #233 which was also an issue only on Azure DevOps.

[2020-07-24 11:59] bartoszsliwinski commented on #249
Well, this is actually exactly the same repository, we are having these issues for a while now but I wasn't aware @sheldonleelazarus created the issue already. Guess we can consolidate those two. Anyway, here's the config:
[code]
`cat` command already shows that Admin.profile has that additional `tabVisibilities` node

[2020-07-24 12:26] amtrack commented on #249
@bartoszsliwinski Would you mind showing me this live by sharing your screen in a video conference?

[2020-07-24 17:43] sheldonleelazarus commented on #249
@amtrack  i dont mind setting up a videa conference with yourself to show you the issue as well

[2020-07-27 12:23] amtrack commented on #249
@sheldonleelazarus As discussed in the call, I will try to reproduce this issue and we currently assume it is related to files larger than 1 MB.

However my [test case](https://github.com/amtrack/force-dev-tool/pull/260) with a CustomObject having 10.000 CustomFields (~3.5 MB) where I change the label of one field passes.
Can you please post the numbers of CustomFields, ListViews,... of your Custo

[2020-07-27 12:28] amtrack commented on #249
@sheldonleelazarus UPDATE: Re-running the build a couple of times I was able to reproduce a [failure](https://travis-ci.com/github/amtrack/force-dev-tool/jobs/365339906):

[code]

[2020-07-27 14:40] asheehanbhtp opened #261 "Error creating changeset from diff using version 2.8.2"
When trying to create a changeset from a git diff, the following error occurs. I have been able to reproduce on both MacOs and CentOS. Reverting to the previous version (2.8.1) resolves the error.

[code]

git version 2.26.0
node version v12.16.1
force-dev-tool version 2.8.2

[2020-07-27 18:33] amtrack commented on #261
@asheehanbhtp Thank you for reporting this issue!
It would be great if you could provide as much information as needed to reproduce this as I'm currently busy chasing another bug.

[2020-07-27 18:55] amtrack commented on #251
@dabdemon Thanks for reporting and sorry for the delay!
As you described this already pretty well, could you please create a PR for this?

[2020-07-27 20:03] amtrack commented on #249
@froucher I could use your helping hand here if you have some time.
I cannot reproduce this on my machine, only in CI sporadically.
The interesting thing is that in the test above, it seems to fail for CustomFields with an index of ~2.700 of 10.000.
Do you have any idea?

[2020-07-28 07:05] froucher commented on #249
Sure @amtrack, I will try to reproduce now this error in my local.

@bartoszsliwinski good work with this test case!

[2020-07-28 07:07] sheldonleelazarus commented on #249
Hi @amtrack for some stats, I have over 50 lists views, 200+ fields, 13+ Recordtypes with atleast  20+ picklist fields assigned to the recordtypes

[2020-07-28 07:28] froucher commented on #249
In my local, macOs Catalina, it seems that always works, I have even run the test more than 10 times, but has never failed.

![image](https://user-images.githubusercontent.com/8971151/88632311-b5709880-d0b3-11ea-8dff-03c117eb4d0c.png)

But I will continue to think which could be the reason of that unexpected behaviour.

[2020-07-28 07:51] froucher commented on #249
I don't know, but this could be due to a synchronization issue?

[2020-07-28 14:12] #249 closed

[2020-07-28 14:22] amtrack commented on #249
:tada: This issue has been resolved in version 2.8.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/force-dev-tool/v/2.8.3)
- [GitHub release](https://github.com/amtrack/force-dev-tool/releases/tag/v2.8.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-28 14:23] amtrack commented on #261
@asheehanbhtp Could you please try if the new release ([2.8.3](https://github.com/amtrack/force-dev-tool/releases/tag/v2.8.3)) resolves this issue?

[2020-07-29 09:34] amtrack commented on #206
@g1b3r Could you please try if the new release ([2.8.3](https://github.com/amtrack/force-dev-tool/releases/tag/v2.8.3)) resolves this issue?

[2020-08-03 06:49] sheldonleelazarus opened #263 "Package.xml not getting created"
Hi @amtrack  started getting this error message after your last commit when i try to parse a diff command through the force-dev-tool, it doesnt happen on every diff just on some diffs

/usr/local/lib/node_modules/force-dev-tool/node_modules/parse-diff/index.js:81
    return file.chunks.push(current);
                ^

TypeError: Cannot read property 'chunks' of null
    at Array.chunk (/usr/local

[2020-08-03 08:40] amtrack commented on #263
@sheldonleelazarus Could you please try to play with it to make it reproducible?

So what I've worked on was parsing large files referenced in a git diff (e.g. a CustomObject > 1 MB).
Now this reads as if the diff itself causes problems...

[2020-08-03 11:44] sheldonleelazarus commented on #263
@amtrack  sent you an email with the steps to replicate

[2020-08-05 14:43] froucher commented on #263
Hi, I have the same issue in my local, I the issue is in `diff.js` file in the `Diff.stream` function, when `parseDiff` hasn't a string without the **git diff header** it could fail

A sample of **git diff header** is:

[code]

I rewrited the `Diff.stream` code in my local like:

[code]

I think this code doesn't resolve completely the issue, for example when the **git diff header** is spliced bet

[2020-08-05 14:55] amtrack commented on #263
@froucher Yes, please help me on this.
If possible: Can we treat the diff as a string and not as a stream at all?

[2020-08-05 20:07] amtrack commented on #251
@dabdemon Thank you for bringing up this topic and your PR #264!
I now see your point and agree with you that `MetadataFile.prototype.getComponent()` can return null and in this case `Manifest.prototype.add()` currently fails trying to access the `type` and `fullName` property of the component.
That's not good and I think we should act on `MetadataFile.prototype.getComponent()` if it returns null.

[2020-08-06 07:38] froucher commented on #263
@sheldonleelazarus, yesterday I do a pull request which can resolve this issue, do you know how to test my branch?

Thanks

[2020-08-06 07:43] sheldonleelazarus commented on #263
@froucher  yes please let me have a look

[2020-08-07 08:44] sheldonleelazarus commented on #263
@froucher i done a quick test and from what i can see when I create changes on an object eg creating new fields, updating field settings on an object more than 3MB the command git diff master testing | force-dev-tool changeset create testingr does not pick up any changes on the object i changed  and therefore package resolves to :

Manifest:
<?xml version="1.0" encoding="UTF-8"?>
<Package xmlns="h

[2020-08-07 17:05] esteele commented on #261
I'm seeing the same issue. Tried 2.8.3, but it's still failing.

[2020-08-10 11:10] froucher commented on #263
Hi, @sheldonleelazarus, I think I know the issue that it creates more fields created than expected, but this is probably a new issue with child metadata like Custom Fields inside parent Custom Objects. This issue already happened with the last versions of force-dev-tool.

I expect this week create a new branch, at least with some test cases that checks this issue, all help is welcomed.

[2020-09-28 08:02] froucher commented on #261
Please, can you try with the last version 2.8.4?

Thank you

[2020-09-28 15:21] asheehanbhtp commented on #261
@froucher, the changes in the most recent release seem to have resolved the issues I was originally facing. For whatever reason, once we incorporated more changes into our repo, this issue went away.

Thank you.

[2020-09-28 15:21] #261 closed

[2020-10-13 13:44] Snehil03 commented on #263
Hello @froucher - I am also facing same issue as @sheldonleelazarus , I tried to use changeset and ended with only blank pacakge.xml.

I would like to use the git diff and create deployment method for salesforce ci/cd in bitbucket pipelines, I am stuck with creating deployment for the changed meta data.

[2020-10-14 08:07] amtrack commented on #263
@Snehil03 Could you please describe what commands exactly you are running and what version of force-dev-tool you're using?

Also, if possible the output (redacted) of the `git diff` command would be interesting.

[2020-10-14 12:21] Snehil03 commented on #263
@amtrack

git diff --no-renames feature/lets_fix_cicd master | force-dev-tool changeset create aexp -f
Manifest:
<?xml version="1.0" encoding="UTF-8"?>
<Package xmlns="http://soap.sforce.com/2006/04/metadata">
    <version>38.0</version>
</Package>

exported metadata container to ../../config/deployments/aexp

[2020-10-15 14:02] froucher commented on #263
Hi,

Please, can you try with last version 2.8.4?

And if it still does not work, then can you send us the "git diff" result?

[code]

If you prefer, then you can send this attachment with a private email.

Thanks

[2020-10-15 14:12] Snehil03 commented on #263
Hello ,

Kindly find below diff :-

diff --git a/mdapi/src/classes/BORPO_DTO_Account.cls
b/mdapi/src/classes/BORPO_DTO_Account.cls
index 952b881a1..274602803 100644
--- a/mdapi/src/classes/BRPO_DTO_Account.cls
+++ b/mdapi/src/classes/BRPO_DTO_Account.cls
@@ -18,7 +18,6 @@ global class BRPO_DTO_Account {
     private String country;
-    private String snehil;

Thanks,
Snehil Belekar

On Thu, 15 Oc

[2020-10-21 16:00] Snehil03 commented on #263
Hey,
Thanks it worked !

On Thu, 15 Oct 2020 at 18:13, Matthias Rolke <notifications@github.com>
wrote:

--
Thanks,
Snehil Belekar

[2020-10-21 16:31] #263 closed

[2021-10-18 19:02] renovate opened #293 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency mocha to v10
 - [ ] chore(deps): update dependency sinon to v14
 - [ ] chore(de

[2022-04-08 17:28] g1b3r commented on #206
Sorry for late comment :) its looks like it works :) @amtrack thank you :)

[2022-04-08 17:28] #206 closed